{% load cms_tags %}

<div class="modal fade" id="support" tabindex="-1" role="dialog" aria-labelledby="supportLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"><i class='fa fa-times-circle'></i></span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="supportLabel">Support</h4>
          </div>
          <div class="modal-body">
            <div class='modal-body-inner'>
                <h4>Got Questions?</h4>
                {% static_placeholder "support_popup_text" or %}
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum posuere libero, ut accumsan enim dapibus nec. Quisque hendrerit sollicitudin elit, non elementum est.
                </p>
                {% endstatic_placeholder %}
                <hr>
                <h4>Contact Us!</h4>
                <div class='row'>
                  <div class='col-md-6'>
                    <p><a href="tel:+33661589063"><i class='fa fa-phone'></i> +33 6 61 58 90 63</a></p>
                  </div>
                  <div class='col-md-6'>
                    <p><a href="tel:+14152750280"><i class='fa fa-phone'></i> +1 415 275 0280</a></p>
                  </div>
                </div>
                <hr>
                <h4>Or Send us an email:</h4>
                <div class='row'>
                  <div class='col-md-12'>
                      <form id="contact_form" action="/" class='styled-form'>
                          {% csrf_token %}
                          {{ contact_form.non_field_errors }}
                          <div class='row'>
                              <div class="col-md-6">
                                  {{ contact_form.first_name.errors }}
                                  <label for="first_name">First Name</label>
                                  {{ contact_form.first_name }}
                                  {{ contact_form.last_name.errors }}
                                  <label for="last_name">Last Name</label>
                                  {{ contact_form.last_name }}
                                  {{ contact_form.email.errors }}
                                  <label for="email">Email Address</label>
                                  {{ contact_form.email }}
                              </div>
                              <div class='col-md-6'>
                                  {{ contact_form.comment.errors }}
                                  <label for="comment">Message</label>
                                  {{ contact_form.comment }}
                                  <input type="submit" value="Submit" />
                              </div>
                          </div>                            
                      </form>
                  </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>