{% extends 'base.html' %}

{% block content %}
        <div class="colorblock banner">
            <div class='container text-center'>
                <span class='big-title'>Better Data. <br> Better Decisions.<br></span>
                <span class='help-text'>Benchmark Intelligence from the wisdom <br> of <i>your</i> professional network.</span>
            </div>
        </div>
        <div class="colorblock">
            <div class='container'>
                <span class='big-title text-center'>How it works</span>
                <p>Bedade aggregates data from experts for your use. You know your industry, the data you need, and who has the right knowledge. Bedade is a platform to exchange that knowledge. You choose your target contributors, type your question and watch the results roll in. Get better data quicker. Extract data from within your network to make comparisons and benchmarks, instead of relying on guestimates or expensive data sources. Anonymously shared data from your trusted contacts will provide insight for your critical decisions. <a href='#'>View the Diagram</a></p>
                <div class='row'>
                    <div class="col-md-4 how-it-works">
                        <div class='title fa-cogs'>Create Custom <br>Benchmark Surveys</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sagittis pellentesque erat, in eleifend lorem ipsum metus lorem ipsum dolor tempus non.</p>
                    </div>
                    <div class="col-md-4 how-it-works">
                        <div class='title fa-comments'>Get Trusted Data from <br>Your Professional Network</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sagittis pellentesque erat, in eleifend lorem ipsum metus lorem ipsum dolor tempus non.</p>
                    </div>
                    <div class="col-md-4 how-it-works">
                        <div class='title fa-tasks'>Compare and Analyze<br>to Make Better Decisions</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sagittis pellentesque erat, in eleifend lorem ipsum metus lorem ipsum dolor tempus non.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="colorblock features">
            <div class='container text-center'>
                <div class='row'>
                    <div class='col-md-4 features text-right'>
                        <div class='title'>Pertinent Data from<br>Exports in <i>Your</i> Network</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sagittis lorem viva.</p>
                        <div class='title'>Safe, Secure, and<br>Completely Anonymous</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sagittis lorem viva.</p>
                    </div>
                    <div class='col-md-4 features'><span class='big-title text-center'>Features</span></div>
                    <div class='col-md-4 features text-left'>
                        <div class='title'>Easy Question Creation<br>with Timely Responses</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sagittis lorem viva lorem ipsum vivamus consectetuer.</p>
                        <div class='title'>Repeatable for Times Series</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sagittis lorem ipsum.</p>
                    </div>
                </div>                
            </div>
        </div>
        <div class="colorblock">
            <div class='container'>
                <span class='big-title text-center'>Examples</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut euismod vel neque vel ullamcorper. Morbi vel placerat lorem. Integer lacinia vulputate ligula id consectetur. Vivamus commodo nibh in ultricies varius. Quisque semper pellentesque rutrum. Fusce semper porta massa, congue egestas nunc accumsan sollicitudin. Fusce sagittis leo vitae nunc fermentum vestibulum. Donec vel euismod velit. Fusce luctus metus vitae justo semper, vitae auctor urna consequat. Nunc eget lacus sed magna tincidunt mattis. Proin viverra luctus quam, et congue mauris ornare eu.</p>
                
            </div>
        </div>
{% endblock %}
