{% extends 'base.html' %}
{% load bootstrap %}
{% load cms_tags %}
{% load cache %}
{% block navigation %}

        <header class="navbar navbar-default bs-docs-nav" id="top" role="banner">
          <div class="container top-navbar">
            <div class="navbar-header">
              <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/"><img src='{{ STATIC_URL }}/img/bdde_logo.png'/></a>
            </div>
            <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                <ul class='main-nav text-center'>
                  <li id='home-link' class='active'><a href="#banner">Home</a></li>
                  <li id='how-link'><a href="#how-it-works">How it works</a></li>
                  <li id='features-link'><a href="#features">Features</a></li>
                  <li id='examples-link'><a href="#examples">Examples</a></li>
                  <li id='about-link'><a href="#about">About</a></li>
                  <li id='contacts-link'><a href="#contact">Contact</a></li>
                  <li id='faq-link'><a href="#" data-toggle="modal" data-target="#faq">FaQ</a></li>
                </ul>             
            </nav>
          </div>
        </header>

        {% if user.is_authenticated %}
            <div class='user-nav'>
                <div class='container'>
                    <div class='row'>
                    <div class='col-md-8 col-xs-7'>
                        <div class='hello'>Hello,</div>
                        <ul class='user-nav-inner'>
                            <li class='username'><a href="/dashboard">{{ user.first_name }} <span class='hidden-xs'> {{ user.last_name }}</span></a><a class='log-out' href='/logout' title='Log Out'>Log Out</a></li>
                        </ul>
                    </div>
                    <div class='col-md-4 col-xs-4 col-xs-offset-1 col-md-offset-0'>
                        <a href="/dashboard" class='btn btn-primary pull-right non-mobile'>Go to Dashboard <i class='fa fa-arrow-circle-right'></i></a>
                        <a href="/dashboard" class='btn btn-primary pull-right mobile icon-only'><i class='fa fa-tasks'></i></a>
                    </div>
                </div>
                </div>
            </div>
        {% else %}
            <div class='user-nav homepage'>
                <div class='container text-center'>
                    <div class='row'>
                        <div class='col-md-4 col-xs-4'>
                            <a href="{% url 'bm_dashboard' %}" class="btn sign-in-btn">Sign in <span class='non-mobile'>with Linkedin</span></a>
                        </div>
                        <div class='col-md-8 col-xs-7 col-xs-offset-1 col-md-offset-0'>
                            {% if invitation_form %}
                                <form role="beta-email" method="post" id="beta_invitation_form">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        {{ invitation_form.email }}
                                    </div>
                                    <button type="submit" class="btn btn-search">Submit</button>
                                </form>
                                <span class='beta-invite non-mobile text-right'><i class='fa fa-envelope'></i> Request Beta Invitation</span>
                            {% endif %}
                        </div>                        
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                 $( document ).ready(function() { 
                    $('body').addClass('unauth');
                 });
            </script>
        {% endif %}
        
{% endblock %}
{% block messages %}
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'logout' %}
              <!-- Logout Modal -->
              <div class='smallModal' id='logoutModal' data-modal-close='true'>
                <div class="pop-up-bg"></div>
                <div class="pop-up-content">
                    <p style='font-size: 13rem; color: #648E99;'><i class='fa fa-check-circle'></i></p>
                    <p>Successfully Logged Out</p>
                </div>
              </div>
              <script type="text/javascript">
                $('#logoutModal').show();
                setTimeout(function() {
                    $('#logoutModal').fadeOut(500);
                }, 1000);
              </script>
            {% elif message.tags == 'beta' %}
              <!-- Beta Modal -->              
              <div class='smallModal' id='betaModal'>
                <div class="pop-up-bg" data-modal-close='true'></div>
                <div class="pop-up-content">
                    {% static_placeholder "beta_popup_text" or %}
                    <p>Bedade is available as an exclusive beta test at present.</p>
                    <p>Please request your invitation on the home page by submitting your email address.</p>
                    {% endstatic_placeholder %}
                    <a href="#" class='btn btn-primary full-width' data-modal-close='true'>Ok</a>
                </div>
              </div>
              
              <script type="text/javascript">
                $('#betaModal').show();
              </script>
            {% elif message.tags == 'beta_invite' %}
                <!-- Beta Invite Modal -->
                <div class='smallModal' id='betaModalSuccess'>
                    <div class="pop-up-bg" data-modal-close='true'></div>
                    <div class="pop-up-content">
                        <a href="#" class='icon-close fa fa-times' data-modal-close='true'></a>
                        <p style='font-size: 5rem; color: #648E99;'><i class='fa fa-envelope'></i></p>
                        <p>{{ message }}</p>
                    </div>
                </div>
                <script type="text/javascript">
                    $('#betaModalSuccess').show();
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block content %}
    {% cache 3600 home_page %}
        {% if terms_and_conditions_form %}
            {% include 'core/explanation_pop_up.html' %}
        {% endif %}
        <div class="colorblock banner" id='banner'>
            <div class='container text-center'>
                <span class='big-title'>
                {% static_placeholder "home_big_title" or %}
                    Better Data. <br> Better Decisions.
                {% endstatic_placeholder %}<br>
                </span>
                <span class='help-text'>
                {% static_placeholder "home_small_title" or %}
                    Benchmark Intelligence from the wisdom <br> of <i>your</i> professional network.
                {% endstatic_placeholder %}
                </span>
            </div>
        </div>
        <div class="colorblock" id='how-it-works'>
            <div class='container'>
                <span class='big-title text-center linked'><span data-toggle="modal" data-target="#valueProp">How it works</span></span>
                <p style='margin-bottom: 0;'>
                    {% static_placeholder "home_how_it_works" or %}
                        <span>Bedade aggregates data from experts for your use. You know your industry, the data you need, and who has the right knowledge. Bedade is a platform to exchange that knowledge. You choose your target contributors, type your question and watch the results roll in. Get better data quicker. Extract data from within your network to make comparisons and benchmarks, instead of relying on guesstimates or expensive data sources. Anonymously shared data from your trusted contacts will provide insight for your critical decisions.</span>
                    {% endstatic_placeholder %}
                </p>
                
                <p style='display: block; margin-bottom: 50px; text-align: center'><span class='non-mobile'><b>Learn how to use Bedade – </b><a class='btn btn-primary tour' data-toggle="modal" data-target="#valueProp" class='clickable'>Take a Tour</a></span></p>

                <div class='row'>
                    {% static_placeholder "home_how_it_works_blocks1" or %}
                    <div class="col-md-4 how-it-works">
                        <div class='title fa-cogs'>Create Custom <br>Benchmark Surveys</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sagittis pellentesque erat, in eleifend lorem ipsum metus lorem ipsum dolor tempus non.</p>
                    </div>
                    {% endstatic_placeholder %}
                    {% static_placeholder "home_how_it_works_blocks2" or %}
                    <div class="col-md-4 how-it-works">
                        <div class='title fa-comments'>Get Trusted Data from <br>Your Professional Network</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sagittis pellentesque erat, in eleifend lorem ipsum metus lorem ipsum dolor tempus non.</p>
                    </div>
                    {% endstatic_placeholder %}
                    {% static_placeholder "home_how_it_works_blocks3" or %}
                    <div class="col-md-4 how-it-works">
                        <div class='title fa-tasks'>Compare and Analyze<br>to Make Better Decisions</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sagittis pellentesque erat, in eleifend lorem ipsum metus lorem ipsum dolor tempus non.</p>
                    </div>
                    {% endstatic_placeholder %}
                </div>
            </div>
        </div>
        <div class="colorblock features" id='features'>
            <div class='container text-center'>
                <div class='row'>
                    <div class='col-md-4 features mobile'><span class='big-title text-center'>Features</span></div>
                    <div class='col-md-4 features text-right'>
                        {% static_placeholder "home_features_left" or %}
                        <div class='title'>Pertinent Data from<br>Exports in <i>Your</i> Network</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sagittis lorem viva.</p>
                        <div class='title'>Safe, Secure, and<br>Completely Anonymous</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sagittis lorem viva.</p>
                        {% endstatic_placeholder %}
                    </div>
                    <div class='col-md-4 features non-mobile'><span class='big-title text-center'>Features</span></div>
                    <div class='col-md-4 features text-left'>
                        {% static_placeholder "home_features_right" or %}
                        <div class='title'>Easy Question Creation<br>with Timely Responses</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sagittis lorem viva lorem ipsum vivamus consectetuer.</p>
                        <div class='title'>Repeatable for Times Series</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sagittis lorem ipsum.</p>
                        {% endstatic_placeholder %}
                    </div>
                </div>                
            </div>
        </div>
        <div class="colorblock" id='examples'>
            <div class='container'>
                <span class='big-title text-center'>Examples</span>
                {% static_placeholder "home_examples_text" or %}
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut euismod vel neque vel ullamcorper. Morbi vel placerat lorem. Integer lacinia vulputate ligula id consectetur. Vivamus commodo nibh in ultricies varius. Quisque semper pellentesque rutrum. Fusce semper porta massa, congue egestas nunc accumsan sollicitudin. Fusce sagittis leo vitae nunc fermentum vestibulum. Donec vel euismod velit. Fusce luctus metus vitae justo semper, vitae auctor urna consequat. Nunc eget lacus sed magna tincidunt mattis.</p>                
                {% endstatic_placeholder %}
                <div class='clearfix'>
                    <div class='row'>
                        <div class='example-container'>
                            {% static_placeholder "home_examples" or %}
                            <div class="example-block benchmark">
                                <div class="big-icon"></div>
                                <div class="title">Benchmark</div>
                                <p class='will-hide'>Comparison of planned IT spending to the everage spend around compliance for a new regulation.</p>
                                <p class='will-show'>Mrs. Blue is the head of operations at an asset management company </p>
                                <ul class='will-show'>
                                    <li>Comparing the average transaction cost vs. her peers to understand if her deals sell side providers are on favorable terms. </li>
                                    <li>Ms. Blue sends a range benchmark to her peers in the industry </li>
                                    <li>She and her contacts have now access to a pertinent benchmark to compare average transaction costs beyond the information being provided by their sell-side providers. </li>
                                </ul>
                            </div>
                            <div class="example-block market-trending">
                                <div class="big-icon"></div>
                                <div class="title"> Market Trending</div>
                                <p class='will-hide'>Measure multiple data sets against each other.</p>
                                <p class='will-show'>Mrs. Blue is the head of operations at an asset management company </p>
                                <ul class='will-show'>
                                    <li>Comparing the average transaction cost vs. her peers to understand if her deals sell side providers are on favorable terms. </li>
                                    <li>Ms. Blue sends a range benchmark to her peers in the industry </li>
                                    <li>She and her contacts have now access to a pertinent benchmark to compare average transaction costs beyond the information being provided by their sell-side providers. </li>
                                </ul>
                            </div>
                            <div class="example-block market-share">
                                <div class="big-icon"></div>
                                <div class="title">Market Share</div>
                                <p class='will-hide'>Comparison of company sales, size and market compared to competitors.</p>
                                <p class='will-show'>Mrs. Blue is the head of operations at an asset management company </p>
                                <ul class='will-show'>
                                    <li>Comparing the average transaction cost vs. her peers to understand if her deals sell side providers are on favorable terms. </li>
                                    <li>Ms. Blue sends a range benchmark to her peers in the industry </li>
                                    <li>She and her contacts have now access to a pertinent benchmark to compare average transaction costs beyond the information being provided by their sell-side providers. </li>
                                </ul>
                            </div>
                            <div class="example-block market-size">
                                <div class="big-icon"></div>
                                <div class="title">Market Size</div>
                                <p class='will-hide'>Create benchmarks to collect the subsegments of your specific markets.</p>
                                <p class='will-show'>Mrs. Blue is the head of operations at an asset management company </p>
                                <ul class='will-show'>
                                    <li>Comparing the average transaction cost vs. her peers to understand if her deals sell side providers are on favorable terms. </li>
                                    <li>Ms. Blue sends a range benchmark to her peers in the industry </li>
                                    <li>She and her contacts have now access to a pertinent benchmark to compare average transaction costs beyond the information being provided by their sell-side providers. </li>
                                </ul>
                            </div>
                            <div class="example-block historical-series">
                                <div class="big-icon"></div>
                                <div class="title">Historical Series</div>
                                <p class='will-hide'>Create automatic recurring benchmarks that calculate new data points over specific intervals.</p>
                                <p class='will-show'>Mrs. Blue is the head of operations at an asset management company </p>
                                <ul class='will-show'>
                                    <li>Comparing the average transaction cost vs. her peers to understand if her deals sell side providers are on favorable terms. </li>
                                    <li>Ms. Blue sends a range benchmark to her peers in the industry </li>
                                    <li>She and her contacts have now access to a pertinent benchmark to compare average transaction costs beyond the information being provided by their sell-side providers. </li>
                                </ul>
                            </div>
                            <div class="example-block adoption-rate">
                                <div class="big-icon"></div>
                                <div class="title">Adoption Rate</div>
                                <p class='will-hide'>Compare your data against the aggregate of your peers.</p>
                                <p class='will-show'>Mrs. Blue is the head of operations at an asset management company </p>
                                <ul class='will-show'>
                                    <li>Comparing the average transaction cost vs. her peers to understand if her deals sell side providers are on favorable terms. </li>
                                    <li>Ms. Blue sends a range benchmark to her peers in the industry </li>
                                    <li>She and her contacts have now access to a pertinent benchmark to compare average transaction costs beyond the information being provided by their sell-side providers. </li>
                                </ul>
                            </div>
                            {% endstatic_placeholder %}
                        </div>
                    </div>
                </div>
                <div class='ex-info-text text-center text-teal'>Click on the boxes above to see user examples.</div>
            </div>
        </div>
        <div class="colorblock about" id='about'>
            <div class='container text-center about-container'>
                <span class='big-title text-center decored'>About</span>
                {% static_placeholder "home_about_text" or %}
                <div class='row'>
                     <div class='col-md-6'>
                        <p class='first-about-block'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut euismod vel neque vel ullamcorper. Morbi vel placerat lorem. Integer lacinia vulputate ligula id consectetur. Vivamus commodo nibh in ultricies varius. Quisque semper pellentesque rutrum. Fusce semper porta massa, congue egestas nunc accumsan sollicitudin. Fusce sagittis leo vitae nunc fermentum vestibulum. Donec vel euismod velit. Fusce luctus metus vitae justo semper, vitae auctor urna consequat. Nunc eget lacus sed magna tincidunt mattis. Proin viverra luctus quam, et congue mauris ornare eu.</p>
                     </div>
                     <div class='col-md-6'>
                        <p>Pellentesque velit libero, dignissim vel est sed, sodales faucibus augue. Curabitur id faucibus eros. Aliquam erat volutpat. Ut eu sodales nisi. Nullam vitae elit ante. Vestibulum sed molestie lectus. In laoreet feugiat enim vel feugiat. In imperdiet bibendum dui, at accumsan felis. Quisque placerat porttitor neque, a dictum lacus adipiscing nec. Nulla in faucibus dolor, a ultrices augue.
                        <br><br><strong>This is a potential call to action</strong></p>
                     </div>
                </div>
                {% endstatic_placeholder %}
            </div>
        </div>
        <div class="colorblock contacts" id='contact'>
            <div class='container'>
                <span class='big-title text-center'>Contact</span>
                {% static_placeholder "home_contact_text" or %}
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut euismod vel neque vel ullamcorper. Morbi vel placerat lorem. Integer lacinia vulputate ligula id consectetur. Vivamus commodo nibh in ultricies varius. Quisque semper pellentesque rutrum. Fusce semper porta massa, congue egestas nunc accumsan sollicitudin. Fusce sagittis leo vitae nunc fermentum vestibulum. Donec vel euismod velit. Fusce luctus metus vitae justo semper, vitae auctor urna consequat. Nunc eget lacus sed magna tincidunt mattis. Proin viverra luctus quam, et congue mauris ornare eu.</p>
                {% endstatic_placeholder %}
                <div class='row'>
                    <div class='col-md-9'>
                        <form id="contact_form" action="" method="post" class='styled-form'>
                            {% csrf_token %}
                            {{ form.non_field_errors }}
                            <div class='row'>
                                <div class="col-md-6">
                                    {{ form.first_name.errors }}
                                    <label for="first_name">First Name</label>
                                    {{ form.first_name }}
                                    {{ form.last_name.errors }}
                                    <label for="last_name">Last Name</label>
                                    {{ form.last_name }}
                                    {{ form.email.errors }}
                                    <label for="email">Email Address</label>
                                    {{ form.email }}
                                </div>
                                <div class='col-md-6'>
                                    {{ form.comment.errors }}
                                    <label for="comment">Message</label>
                                    {{ form.comment }}
                                    <input id="contact_submit" type="submit" value="Submit" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class='col-md-3 lined-right'>
                        <div class='contact-info'>
                            <div class='title'>Contact Details</div>
                            {% static_placeholder "home_contact_details" or %}
                            <p>Bedade Inc.</p><br>
                            <p>Paris, France</p>
                            <p style='margin-bottom:20px;'>San Francisco, CA USA</p>
                            <p><a href="tel:+33491425389"><i class='fa fa-phone'></i> +33 491 42 53 89 </a></p>
                            <p style='margin-bottom:20px;'><a href="tel:+14152750280"><i class='fa fa-phone'></i> +1 415 275 0280 </a></p>
                            <p><a href='mailto:contact@bedade.com'><i class='fa fa-envelope'></i> contact@bedade.com</a></p>
                            {% endstatic_placeholder %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="colorblock map">
            <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3152.8253615926615!2d-122.3973606!3d37.794132299999994!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8085806168b6716f%3A0xc7a13d7472243442!2s50+California+St!5e0!3m2!1suk!2sua!4v1403699515076" width="100%" height="250px" frameborder="0" style="border:0" disableDefaultUI: true></iframe> -->
        </div>





        <!-- Value Prop Modal -->
        <div class="modal fade" id="valueProp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog imageSlider">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"><i class='fa fa-times-circle'></i></span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">How it works</h4>
              </div>
              <div class="modal-body">
                <div class='modal-body-inner slided'>
                    <img src="{{ STATIC_URL }}img/valueProp.png" />
                    <p class='text-center'><a class='btn btn-primary openTour' data-dismiss="modal" data-toggle="modal" data-target="#takeTour">Take the Tour <i style='padding-left: 10px' class='fa fa-chevron-circle-right'></i></a></p>
                </div>
              </div>
            </div>
          </div>
        </div>


        <!-- Take a tour Modal -->
        <div class="modal fade" id="takeTour" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog imageSlider">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"><i class='fa fa-times-circle'></i></span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Take the tour</h4>
              </div>
              <div class="modal-body">
                <div class='modal-body-inner.slided'>
                    <div id='takeTourSlider'>
                        <ul class="bjqs">
                            <li><img src="{{ STATIC_URL }}img/tourStep1.png" /><span class='hide-btn'></span></li>
                            <li><img src="{{ STATIC_URL }}img/tourStep2.png" /></li>
                            <li><img src="{{ STATIC_URL }}img/tourStep3.png" /></li>
                            <li><img src="{{ STATIC_URL }}img/tourStep4.png" /></li>
                            <li>
                                <img src="{{ STATIC_URL }}img/tourStep5.png" />
                                {% if user.is_authenticated %}
                                    <a href='{% url 'bm_create' %}' class='btn btn-primary getdatanow'>Gather Data Now  <i style='padding-left: 10px' class='fa fa-chevron-circle-right'></i></a>
                                {% else %}
                                    <a href='#' data-dismiss="modal" class='btn btn-primary getdatanow requestBetaBtn'>Request Beta Invitation <i style='padding-left: 10px' class='fa fa-chevron-circle-right'></i></a>
                                    <script type="text/javascript">
                                        $('.requestBetaBtn').click(function () {
                                            setTimeout(function() { 
                                                $('#id_invite-email').focus();
                                            }, 1000);
                                        });                                        
                                    </script>
                                {% endif %}                                
                            </li>
                        </ul>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>



        <script type="text/javascript">
            // Main Nav behavior on scroll

            $( document ).ready(function() {
    
                var $document = $(document);
                var firstOffset = $('.colorblock#how-it-works').offset().top -90;
                var secondOffset = $('.colorblock#features').offset().top - 90;
                var thirdOffset = $('.colorblock#examples').offset().top - 90;
                var fourthOffset = $('.colorblock#about').offset().top - 90;
                var fifthOffset = $('.colorblock#contact').offset().top - 90;

                $document.on("scroll", function () {
                    if ($document.scrollTop() < firstOffset) {
                        $('.main-nav li#home-link').addClass('active')
                        .siblings().removeClass('active');
                    }

                    if ($document.scrollTop() >= firstOffset) {
                        $('.main-nav li#how-link').addClass('active')
                        .siblings().removeClass('active');
                    }

                    if ($document.scrollTop() >= secondOffset - 90) {
                         $('.main-nav li#features-link').addClass('active')
                        .siblings().removeClass('active');
                    }

                    if ($document.scrollTop() >= thirdOffset - 90) {
                        $('.main-nav li#examples-link').addClass('active')
                        .siblings().removeClass('active');
                    }

                    if ($document.scrollTop() >= fourthOffset - 90) {
                        $('.main-nav li#about-link').addClass('active')
                        .siblings().removeClass('active');
                    }

                    if ($document.scrollTop() >= fifthOffset - 180) {
                        $('.main-nav li#contacts-link').addClass('active')
                        .siblings().removeClass('active');
                    }
                });
            });
        </script>
    {% endcache %}
{% endblock %}
