{% extends "bm/answer.html" %}
{% load i18n %}
{% load bootstrap %}
{% load helpers %}

{% block answer_form %}
    <div class='row'>
    	<div class='col-md-12'>
    		<div class='styled-form rangeAnswer'>
		    	<hr>
				{% csrf_token %}
				{{ form.non_field_errors }}
				<div class='row'>
					<div class="col-md-6">
						<label for="id_min">MIN <span class='units' title='In - {{ benchmark.question.first.options.first.units }}'>(In - "{{ benchmark.question.first.options.first.units }}")</span></label>
						
						{{ form.min }}
                        <p>{{ form.min.errors }}</p>
						
					</div>
					<div class='col-md-6'>
						<label for="id_max">MAX <span class='units' title='In - {{ benchmark.question.first.options.first.units }}'>(In - "{{ benchmark.question.first.options.first.units }}")</span></label>
						{{ form.max }}
                        <p>{{ form.max.errors }}</p>
					</div>
				</div>
		   	</div>
    	</div>
    </div>
{% endblock %}
