{% extends "bm/dashboard.html" %}

{% block content %}
    <div class='container bordered bgwhite benchmark-creation margined'>
        <div class="margined no-bottom">
            <div class='row'>
                 <form action="" method="post" class='styled-form'>
                    {% csrf_token %}
                    {% include 'bm/create/step2.html' %}
                     <div class='btn-holder'>
                        <a href="{% url 'bm_dashboard' %}" class='btn btn-default auto-width'>Cancel</a>
                        <input id='bm-submit' name="send_invitations" type="submit" class="btn btn-primary auto-width continue-btn hidden" value="Send invitations"/>
                        <label for='bm-submit' class='btn btn-primary auto-width pull-right'> Send invitations <i class='fa fa-arrow-circle-o-right'></i></label>
                        <input id='add_selected' name="add_selected" type="submit" class="btn btn-primary auto-width continue-btn hidden" value="1"/>
                        <label for='add_selected' class='btn btn-primary auto-width pull-right fix'>Add selected <i class='fa fa-plus'></i></label>
                    </div>
                 </form>
            </div>
        </div>
    </div>
{% endblock %}