{% extends "bm/dashboard.html" %}
{% load i18n %}
{% block meta_tags %}
    <!-- Open Graph data -->
    <meta property="og:title" content="{{ benchmark.name }}" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="{{ STATIC_URL }}img/bdde_logo_square.png" />
    <meta property="og:url" content="{{ url }}" />
    <meta property="og:description" content="{{ question.description }}" />

    <!-- Twitter Card data -->
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:url" content="{{ url }}" />
    <meta property="twitter:title" content="{{ benchmark.name }}" />
    <meta property="twitter:image" content="{{ STATIC_URL }}img/bdde_logo_square.png" />
    <meta property="twitter:description" content="{{ question.description }}" />
{% endblock %}


{% block navigation %}

  <header class="navbar navbar-default bs-docs-nav" id="top" role="banner">
      <div class="container top-navbar">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src='{{ STATIC_URL }}img/bdde_logo.png'/></a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class='main-nav text-center dashboard-nav'>
              <li><a href="/dashboard">Dashboard</a></li>
              <li class="dropdown active">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Benchmarks <span class="caret"></span></a>
                 <ul class="dropdown-menu" role="menu">
                    <li><a href="{% url 'bm_create' %}">Create</a></li>
                    <li><a href="/benchmark/history">My Benchmark History</a></li>
                 </ul>
              </li>
              <li><a  href="#" data-toggle="modal" data-target="#support">Support</a></li>

            </ul>
            {% include 'core/search_form.html' %}

        </nav>

      </div>
    </header>

    <div class='user-nav'>
        <div class='container'>
            <div class='row'>
            <div class='col-md-8 col-xs-9'>
            {% if user.is_authenticated %}
                <div class='hello'>Hello,</div>
                <ul class='user-nav-inner'>
                    <li class='username'>{{ user.first_name }} {{ user.last_name }}</li>                            
                    <li><a href='/logout' title='Log Out'><i class='fa fa-unlock'></i></a></li>
                </ul>
            {% else %}
                <div class='hello'>Hello,</div>
                <ul class='user-nav-inner'>
                    <li class='username'>Guest</li>
                </ul>
            {% endif %}
            </div>
            <div class='col-md-4 col-xs-3'>
                <a href="{% url 'bm_create' %}" class='btn btn-primary pull-right icon-only'><span class='non-mobile'>Create new benchmark</span> <i class='fa fa-plus-circle'></i></a>
            </div>
        </div>
        </div>
    </div>
{% endblock %}
{% block content %}
<!-- Preloader -->
<div class="preloader"><div class='full-centered'><i class="fa fa-cog fa-spin"></i></div></div>
<!-- End Preloader -->

<div class='container bordered bgwhite open-benchmark-container margined'>
    <div class='ob-header'>
        <div class='row'>
            <div class='col-md-8'>
                <div class="ob_image"></div>
                <div class="ob_title">{{ benchmark.name }}</div>
                <div class="ob_descr">{{ benchmark.question.first.label }}</div>
            </div>
            <div class='col-md-4'>
                <div class="addthis_toolbox">
                    <div class="custom_images">
                        <a href="https://www.linkedin.com/shareArticle?summary=&ro=false&title=Bedade&mini=true&url={{ absolute_url|escape }}&source=bedade"><img src="{{ STATIC_URL }}img/linkedin.png"/></a>
                        <a href="http://twitter.com/share?text={{ question.description }}&url={{ absolute_url|escape }}&hashtags=bedade "><img src="{{ STATIC_URL }}img/twitter.png"/></a>
                        <a href="https://www.facebook.com/sharer/sharer.php?u={{ absolute_url|escape }}"><img src="{{ STATIC_URL }}img/facebook.png" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='benchmark-help'>
        <div class='row'>
            <div class='col-md-9'>
                <p>{{ benchmark.question.first.description }}</p>
                <p class='info'>
                    {% if user.is_authenticated %}
                        <span><strong>Submitted by: </strong><span class='color-teal'>{{ benchmark.owner.first_name }} {{ benchmark.owner.last_name }}</span></span>
                    {% endif %}
                    <span><strong>Industry: </strong>{{ benchmark.industry }}</span>
                    <span><strong>Geography: </strong>{{ benchmark.geography }}</span>
                    <span><strong>Published: </strong>{{ benchmark.start_date }}</span>
                </p>
            </div>
            <div class='col-md-3 non-mobile'>
                {% if user.is_authenticated %}
                    <a href='{% url 'bm_excel' benchmark.id %}' data-export='excel'>Export Results to Excel</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% block graphs %}

    {% endblock %}
</div>

<!-- Modal -->
<div class="modal fade" id="rating" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"><i class='fa fa-times-circle'></i></span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Rate Benchmark</h4>
      </div>
      <div class="modal-body">
        <p>Please rate the benchmark <strong>{{ benchmark.name }}</strong> results based on your level of confidence that the data is accurate.</p>
        <div class='text-center'>
            <span class="rating">
                <span data-score="5" class="star" data-dismiss="modal">
                </span><span data-score="4" class="star" data-dismiss="modal">
                </span><span data-score="3" class="star" data-dismiss="modal">
                </span><span data-score="2" class="star" data-dismiss="modal">
                </span><span data-score="1" class="star" data-dismiss="modal"></span>
            </span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Support Modal -->
    {% include 'core/contact_form.html' %}    
{% endblock %}