{% extends "bm/details.html" %}
{% load i18n %}

{% block graphs %}
    <form action="" method="post">{% csrf_token %}
        <div class='row'>
        <div class='col-md-7 centered-middle mobile-wide'>
            <div class='col-md-12 bordered bgwhite margined margin-bot'>
                <div class='title-header'>
                    Contributor Results {{ form.Benchmark_Results }}
                </div>
                <div class='row'>
                    <div class='benchmark open'>
                        {% if benchmark.question_type == 1 %}
                            <div id='donutChartHolder'>
                                <div id='donutChart' class='bigChart'></div>
                                <div class='units'>Chart Data In: <span title='{{ benchmark.question.first.options.first.units }}'>"{{ benchmark.question.first.options.first.units }}"</span></div>
                            </div>
                            <div id='columnChartHolder'>
                                <div id='columnChart' class='bigChart'></div>
                                <div class='units'>Chart Data In: <span title='{{ benchmark.question.first.options.first.units }}'>"{{ benchmark.question.first.options.first.units }}"</span></div>
                            </div>
                        {% endif %}
                        {% if benchmark.question_type == 2 %}
                            <div class='relative'>
                                <div id='barChartHolder'>
                                    <div id='barChart' class='bigChart'></div>
                                </div>
                                <div class='avg-title'>Avg. Rank</div>
                                <div class='avgBar' id='avgRank'></div>
                            </div>
                        {% endif %}
                        {% if benchmark.question_type == 3 %}
                            <div id='areaChartHolder'>
                                <div id='areaChart' class='bigChart'></div>
                            </div>
                            <div id='areaStats'>
                                <div class='units'>Chart Data In: <span title='{{ benchmark.question.first.options.first.units }}'>"{{ benchmark.question.first.options.first.units }}"</span></div>
                            </div>
                            <div id='bellcurveChartHolder'>
                                <div id='bellcurveChart' class='bigChart'></div>
                            </div>
                            <div id='bellcurveStats'>
                                <div class='units'>Chart Data In: <span title='{{ benchmark.question.first.options.first.units }}'>"{{ benchmark.question.first.options.first.units }}"</span></div>
                                <div class='benchmark-stats perc-based'>
                                    <div class='single-stat'>
                                        <span class='title'>Min</span>
                                        <span class='value' id='minVal'></span>
                                    </div>
                                    <div class='single-stat'>
                                        <span class='title'>Max</span>
                                        <span class='value' id='maxVal'></span>
                                    </div>
                                    <div class='single-stat'>
                                        <span class='title'>Avg</span>
                                        <span class='value' id='avgVal'></span>
                                    </div>
                                    <div class='single-stat'>
                                        <span class='title'>SD</span>
                                        <span class='value' id='sdVal'></span>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if benchmark.question_type == 4 %}
                            <div id='donutChartHolder'>
                                <div id='donutChart' class='bigChart'></div>
                            </div>
                            <div id='columnChartHolder'>
                                <div id='columnChart' class='bigChart'></div>
                            </div>
                        {% endif %}
                        {% if benchmark.question_type == 5 %}
                            <div id='areaChartHolder'>
                                <div id='areaChart' class='bigChart'></div>
                            </div>
                            <div id='quartileChartHolder'>
                                <div id='quartileChart' class='bigChart'></div>
                            </div>
                            <div id='areaStats'>
                                <div class='units'>Chart Data In: <span title='{{ benchmark.question.first.options.first.units }}'>"{{ benchmark.question.first.options.first.units }}"</span></div>
                            </div>
                        {% endif %}                            
                            
                        <div class='benchmark-footer text-center'>
                            <span class='color-blue'><i class='fa fa-user'></i> {{ benchmark.contributors }} Contributors</span>
                            <span class='separator'></span>
                            <span class='rated-value'>
                                <div class='fill-value' style='width: {% widthratio benchmark.calc_average_rating 5 100 %}%'></div>
                            </span>
                            <span class='color-grey'>({{ benchmark.calc_average_rating }})</span>
                            {% if user.is_authenticated %}
                                {% if is_contributor %}
                                    <a href='#' class="btn btn-primary btn-lg" data-toggle="modal" data-target="#rating">Rate this benchmark <i class='fa fa-star'></i></a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if user.is_authenticated %}
            <div class='col-md-5 mobile-wide'>
            <div class='col-md-12 bordered bgwhite margined margin-bot'>
                <div class='title-header'>
                    Contributor data {{ form.Contributor_Data }}
                </div>
                <div class='row'>
                    <div id='geoStats'>
                        <div id='geoChart' class='statGraph'></div>
                        <div class='table-header'>Contributor Geography:</div>
                        <div class='statsTable'>
                            <table>
                                <tbody>
                                    {% for geo in geo_percentage %}
                                        <tr>
                                            <td title='{{ geo.0 }}'>{{ geo.0 }}</td>
                                            <td>{{ geo.1 }}</td>
                                        </tr>
                                    {% endfor %}                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
{#                    <div id='Stats'>#}
{#                        <div id='roleChart' class='statGraph'></div>#}
{#                        <div class='table-header'>Contributor Role:</div>#}
{#                        <div class='statsTable'>#}
{#                            <table>#}
{#                                <tbody>#}
{#                                    {% for role in role_percentage %}#}
{#                                        <tr>#}
{#                                            <td title='{{ role.0 }}'>{{ role.0 }}</td>#}
{#                                            <td>{{ role.1 }}</td>#}
{#                                        </tr>#}
{#                                    {% endfor %}#}
{#                                </tbody>#}
{#                            </table>#}
{#                        </div>#}
{#                    </div>#}
                    <div id='industryStats'>
                        <div id='industryChart' class='statGraph'></div>
                        <div class='table-header'>Contributor Industry:</div>
                        <div class='statsTable'>
                            <table>
                                <tbody>
                                    {% for industry in industry_percentage %}
                                        <tr>
                                            <td title='{{ industry.0 }}'>{{ industry.0 }}</td>
                                            <td>{{ industry.1 }}</td>
                                        </tr>
                                    {% endfor %}                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id='countryStats'>
                        <div id='countryChart' class='statGraph'></div>
                        <div class='table-header'>Contributor Country:</div>
                        <div class='statsTable'>
                            <table>
                                <tbody>
                                    {% for countries in countries_percentage %}
                                        <tr>
                                            <td title='{{ countries.0 }}'>{{ countries.0 }}</td>
                                            <td>{{ countries.1 }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        {% else %}
            <script type="text/javascript">
                 $( document ).ready(function() { 
                    $('body').addClass('unauth');
                 });
            </script>
        {% endif %}
    </div>
    </form>




<script src="{{ STATIC_URL }}js/graphs/pie.js"></script>
<script src="{{ STATIC_URL }}js/graphs/column.js"></script>
<script src="{{ STATIC_URL }}js/graphs/line.js"></script>
<script src="{{ STATIC_URL }}js/graphs/area.js"></script>
<script src="{{ STATIC_URL }}js/graphs/bellcurve.js"></script>
<script src="{{ STATIC_URL }}js/graphs/bar.js"></script>
<script src="{{ STATIC_URL }}js/graphs/quartile.js"></script>
<script src="{{ STATIC_URL }}js/graphs/stats.js"></script>

<script type="text/javascript">
    var statisticGeoData = {{ geo|safe }};
{#    var statisticRoleData = {{ role|safe }};#}
{#    var roleSelect = $("#id_Contributor_Data option[value='Role']");#}
{#    if (statisticRoleData.length > 9) {#}
{#        $('#roleStats').remove();#}
{#        $('#geoStats').show();#}
{#        $(roleSelect).remove();#}
{#        $("#id_Contributor_Data").select2();#}
{#    };#}
    var statisticIndustriesData = {{ industries|safe }};
    var statisticCountriesData = {{ countries|safe }};
    var None = null;
    var mainChartData = {{ benchmark.charts|safe }};
</script>

<script type="text/javascript">

    {% if 'Pie' in benchmark.charts_allowed %}
        drawPieChart(mainChartData.pie, 'donutChartHolder');
    {% endif %}

    {% if 'Column' in benchmark.charts_allowed %}
        drawColumnChart(mainChartData.column, 'columnChartHolder');
    {% endif %}

    {% if 'Line' in benchmark.charts_allowed %}
        drawLineChart(mainChartData.line, 'lineChartHolder');
    {% endif %}

    {% if 'Area' in benchmark.charts_allowed %}
        drawAreaChart(mainChartData.area, 'areaChartHolder');
    {% endif %}

    {% if 'Bar' in benchmark.charts_allowed %}
        drawBarChart(mainChartData.bar, 'barChartHolder');
        if( screen.width > 641 ) {
            drawCircles(mainChartData.avg, 'avgRank');
        };
    {% endif %}

    {% if 'Quartile' in benchmark.charts_allowed %}
        drawQuartileChart(mainChartData.stock, 'quartileChartHolder');
    {% endif %}

    {% if 'Bell_Curve' in benchmark.charts_allowed %}
        $(function () {
            $("#minVal").text(mainChartData.bell_curve.min);
            $("#maxVal").text(mainChartData.bell_curve.max);
            var avgB = mainChartData.bell_curve.avg.toFixed(1); 
            $("#avgVal").text(avgB);
            var sd = mainChartData.bell_curve.sd.toFixed(1); 
            $("#sdVal").text(sd);

            if( screen.width > 641 ) {
                $( ".single-stat .value" ).each(function() {
                    var len = $(this).text().length;
                    if (len >= 4) {
                        $(this).parents('.benchmark-stats').addClass('fourPlus');
                    }                    

                    else if (len >= 6) {
                        $(this).parents('.benchmark-stats').addClass('more');
                    }


                    else {
                        $(this).parents('.benchmark-stats').removeClass('more fourPlus');
                    }
                });
            };
        });
        drawBellcurveChart(mainChartData.bell_curve, 'bellcurveChartHolder');
    {% endif %}



{#    drawStatsChart(statisticRoleData, 'roleChart');#}
    drawStatsChart(statisticGeoData, 'geoChart');
    drawStatsChart(statisticIndustriesData, 'industryChart');
    drawStatsChart(statisticCountriesData, 'countryChart');
</script>

{% endblock %}