{% extends "bm/benchmark_details.html" %}
{% load i18n %}

{% block graphs %}
    <form action="" method="post">{% csrf_token %}
        <div class='row'>
        <div class='col-md-7 centered-middle mobile-wide'>
            <div class='col-md-12 bordered bgwhite margined margin-bot'>
                <div class='title-header'>
                    Contributor Results {{ form.Benchmark_Results }}
                </div>
                <div class='row'>
                    <div class='benchmark open'>
                        {% if 'Pie' in benchmark.charts_allowed %}
                        <div id='donutChartHolder'>
                            <div id='donutChart' class='bigChart'></div>
                        </div>
                        <div id='columnChartHolder'>
                            <div id='columnChart' class='bigChart'></div>
                        </div>
                        <div id='bellcurveChartHolder'>
                            <div id='bellcurveChart' class='bigChart'></div>
                            <div class='benchmark-stats perc-based'>
                                <div class='single-stat'>
                                    <span class='title'>Min</span>
                                    <span class='value' id='minVal'></span>
                                </div>
                                <div class='single-stat'>
                                    <span class='title'>Max</span>
                                    <span class='value' id='maxVal'></span>
                                </div>
                                <div class='single-stat'>
                                    <span class='title'>Avg</span>
                                    <span class='value' id='avgVal'></span>
                                </div>
                                <div class='single-stat'>
                                    <span class='title'>SD</span>
                                    <span class='value' id='sdVal'></span>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <div id='lineChartHolder'>
                            <div id='lineChart' class='bigChart'></div>
                        </div>
                        <div class='benchmark-footer text-center'>
                            <span class='color-blue'><i class='fa fa-user'></i> {{ benchmark.contributors }} Contributors</span>
                            <span class='separator'></span>
                            <span class='rated-value'>
                                <div class='fill-value' style='width: {% widthratio benchmark.calc_average_rating 5 100 %}%'></div>
                            </span>
                            <span class='color-grey'>({{ benchmark.calc_average_rating }})</span>
                            {% if user.is_authenticated %}
                                <a href='#' class="btn btn-primary btn-lg" data-toggle="modal" data-target="#rating">Rate this benchmark <i class='fa fa-star'></i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if user.is_authenticated %}
            <div class='col-md-5 mobile-wide'>
            <div class='col-md-12 bordered bgwhite margined margin-bot'>
                <div class='title-header'>
                    Contributor data {{ form.Contributor_Data }}
                </div>
                <div class='row'>
                    <div id='geoStats'>
                        <div id='geoChart' class='statGraph'></div>
                        <div class='table-header'>Contributor Geographic:</div>
                        <div class='statsTable'>
                            <table>
                                <tbody>
                                    {% for geo in geo_percentage %}
                                        <tr>
                                            <td title='{{ geo.0 }}'>{{ geo.0 }}</td>
                                            <td>{{ geo.1 }}</td>
                                        </tr>
                                    {% endfor %}                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id='roleStats'>
                        <div id='roleChart' class='statGraph'></div>
                        <div class='table-header'>Contributor Role:</div>
                        <div class='statsTable'>
                            <table>
                                <tbody>
                                    {% for role in role_percentage %}
                                        <tr>
                                            <td title='{{ role.0 }}'>{{ role.0 }}</td>
                                            <td>{{ role.1 }}</td>
                                        </tr>
                                    {% endfor %}                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id='industryStats'>
                        <div id='industryChart' class='statGraph'></div>
                        <div class='table-header'>Contributor Industry:</div>
                        <div class='statsTable'>
                            <table>
                                <tbody>
                                    {% for industry in industry_percentage %}
                                        <tr>
                                            <td title='{{ industry.0 }}'>{{ industry.0 }}</td>
                                            <td>{{ industry.1 }}</td>
                                        </tr>
                                    {% endfor %}                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id='countryStats'>
                        <div id='countryChart' class='statGraph'></div>
                        <div class='table-header'>Contributor Country:</div>
                        <div class='statsTable'>
                            <table>
                                <tbody>
                                    {% for countries in countries_percentage %}
                                        <tr>
                                            <td title='{{ countries.0 }}'>{{ countries.0 }}</td>
                                            <td>{{ countries.1 }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        {% else %}
            <script type="text/javascript">
                 $( document ).ready(function() { 
                    $('body').addClass('unauth');
                 });
            </script>
        {% endif %}
    </div>
    </form>


<script src="{{ STATIC_URL }}js/graphs/pie.js"></script>
<script src="{{ STATIC_URL }}js/graphs/column.js"></script>
<script src="{{ STATIC_URL }}js/graphs/line.js"></script>
<script src="{{ STATIC_URL }}js/graphs/bellcurve.js"></script>
<script src="{{ STATIC_URL }}js/graphs/stats.js"></script>

<script type="text/javascript">
    var statisticGeoData = {{ geo|safe }};
    var statisticRoleData = {{ role|safe }};
    var statisticIndustriesData = {{ industries|safe }};
    var statisticCountriesData = {{ countries|safe }};
    var mainChartData = {{ benchmark.charts|safe }};


    {% if 'Pie' in benchmark.charts_allowed %}
        drawPieChart(mainChartData.pie, 'donutChart');
    {% endif %}

    {% if 'Column' in benchmark.charts_allowed %}
        drawColumnChart(mainChartData.column, 'columnChart');
    {% endif %}

    {% if 'Line' in benchmark.charts_allowed %}
        drawLineChart(mainChartData.line, 'lineChart');
    {% endif %}

    {% if 'Bell_Curve' in benchmark.charts_allowed %}
        $(function () {
            $("#minVal").text(mainChartData.bell_curve.min);
            $("#maxVal").text(mainChartData.bell_curve.max);
            $("#avgVal").text(mainChartData.bell_curve.avg);
            var sd = mainChartData.bell_curve.sd.toFixed(1); 
            $("#sdVal").text(sd);
        });
        drawBellcurveChart(mainChartData.bell_curve, 'bellcurveChart');


    {% endif %}

    drawStatsChart(statisticRoleData, 'roleChart');
    drawStatsChart(statisticGeoData, 'geoChart');
    drawStatsChart(statisticIndustriesData, 'industryChart');
    drawStatsChart(statisticCountriesData, 'countryChart');
    
</script>





{% endblock %}