{% extends "base.html" %}
{% load i18n %}

{% block navigation %}
            <header class="navbar navbar-default bs-docs-nav" id="top" role="banner">
              <div class="container top-navbar">
                <div class="navbar-header">
                  <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/"><img src='{{ STATIC_URL }}/img/bdde_logo.png'/></a>
                </div>
                <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                    <ul class='main-nav text-center dashboard-nav'>
                      <li><a href="/dashboard">Dashboard</a></li>
                      <li class="dropdown active">
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">Benchmarks <span class="caret"></span></a>
                         <ul class="dropdown-menu" role="menu">
                            <li><a href="{% url 'bm_create' %}">Create</a></li>
                         </ul>
                      </li>
                      <li><a href="#">Support</a></li>

                    </ul>
                    {% include 'core/search_form.html' %}

                </nav>

              </div>
            </header>
            <div class='user-nav'>
                <div class='container'>
                    <div class='row'>
                    <div class='col-md-8'>
                        <div class='hello'>Hello,</div>
                        <ul class='user-nav-inner'>
                            <li class='username'>{{ user.first_name }} {{ user.last_name }}</li>
                            <li class="dropdown">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class='fa fa-cogs'></i></a>
                             <ul class="dropdown-menu" role="menu">
                                <li><a href="/logout">Sign Out</a></li>
                             </ul>
                          </li>
                            <li><a href='#'><i class='fa fa-unlock'></i></a></li>
                        </ul>
                    </div>
                    <div class='col-md-4'>
                        <a href="{% url 'bm_create' %}" class='btn btn-primary pull-right'>Create new benchmark <i class='fa fa-plus-circle'></i></a>
                    </div>
                </div>
                </div>
            </div>
    {% endblock %}
{% block content %}

<div class='container margined'>
    <div class='ob-header'>
        <div class='row'>
            <div class='col-md-12'>
                <table class='results'>
                    <thead>
                      <th class='date'><a href="?order_by=start_date">Publication Date</a></th>
                      <th class='benchmark'><a href="?order_by=name">Benchmark</a></th>
                      <th class='owner '><a href="?order_by=owner">Creator</a></th>
                      <th class='participants text-center'><a href="?order_by=participants">Participants</a></th>
                      <th class='rating-field'><a href="?order_by=rating">Rating</a></th>
                    </thead>
                </table>
                <div class='search-table'>
                  <table class='results'>
                    <tbody>                      
                        {% for benchmark in object_list %}
                            <tr class="benchmark">
                                <td class='date'>{{ benchmark.start_date }}</td>
                                <td class='benchmark'>
                                  <div class='text-teal'><strong><a href='/benchmark/{{ benchmark.id }}/details'>{{ benchmark.name }}</a></strong></div>
                                  <div class='benchmark_query'>{{ benchmark.question.first.description }}</div>
                                </td>
                                <td class='owner text-teal'>{{ benchmark.owner.first_name }} {{ benchmark.owner.last_name }}</td>
                                <td class='participants'>{{ benchmark.contributors }}</td>
                                <td class='rating-field'>
                                  <span class='rated-value'>
                                    <div class='fill-value' style='width: {% widthratio benchmark.calc_average_rating 5 100 %}%'></div>
                                </span>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                              <td class='text-center'><p>There are no Benchmarks in your History</p></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
              </div>
            </div>
        </div>
    </div>
</div>

    
    
{% endblock %}