body {
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    padding: 0;
    background: #eff0f2;
    padding-top: 90px;
    font-family: Roboto;
    font-weight: 300;
}

html, body {
    height: 100%;
}

a {
    font-weight: 500;
    color: #3d4d77;
}

hr {
    margin: 10px 0 15px;
    border-color: #dedede;
}

ul.errorlist {
    list-style: none;
    padding: 0;
    margin: -10px 0 0;
    color: red;
}

.bordered {
    border: 1px solid #dadada;
}

.bgwhite {
    background-color: #fff;
}

.margined {
    margin: 45px auto;
}

.margined.no-bottom {
    margin-bottom: 0;
}

.navbar-default {
    background-color: #fff;
    border: none;
    border-radius: 0;
    height: 90px;
    margin-bottom: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.34);
    z-index: 9;
}

.navbar-default .navbar-brand {
    color: #fff;
    font-weight: bold;
}


/* Main Nav */

ul.main-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

    ul.main-nav > li {
        display: inline-block;    
        padding: 20px 10px 20px;
    }

    ul.main-nav > li > a {
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 400;
        text-decoration: none;
    }

    ul.main-nav > li > a:hover {
        color: #608a94;
    }

    ul.main-nav > li.active > a {
        box-shadow: 0 22px #fff, 0 30px #425380;
    }
    
    .social-btns > a {
        background: #3d4d77;
        color: #fff;
        width: 18px;
        line-height: 19px;
        text-align: center;
        height: 19px;
        display: inline-block;
        margin: 20px 3px;
        font-size: 12px;
    }
    
/* End Main Nav */

/* User Nav */

.user-nav {
    background: #333;
    color: #fff;
    padding: 25px 0;
}

    .user-nav .hello {
    color: #9dbef0;
    font-size: 24px;
    line-height: 18px;
}

        ul.user-nav-inner {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        ul.user-nav-inner > li {
            float: left;
            margin: 0 15px;
            color: #fff;
            font-size: 16px;
            line-height: 30px;
        }
        
        ul.user-nav-inner > li.username {
            margin-left: 0;
        }

        ul.user-nav-inner > li > a {
            color: #fff;
        }
        
        ul.user-nav-inner > li > a:hover {
            color: #5D828B;
        }


/* End User Nav */

.search-field {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    display: block !important;
    float: left;
    border-color: #3A678F;
    border-right: none;
}

.search-btn {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    display: block;
    color: #fff;
    outline: none;
    background-color: #4C7FAC;
    border-color: #3A678F;
}

    .search-btn:hover, .search-btn:active, .search-btn:focus {
        background-color: #3276b1;
        border-color: #285e8e;
        color: #fff;
        outline: none;
    }

span.nav-username {
    line-height: 50px;
    font-size: 1.6rem;
    margin-left: 20px;
    padding: 0 0 0 10px;

}

span.nav-username-dropdown:hover > ul {
    display: block;
}

span.nav-username-dropdown {
    display: inline-block;
    margin: 0;
    line-height: 50px;
    font-size: 1.6rem;
    padding: 0 10px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}
    span.nav-username-dropdown:hover{
        color: #4F7DA5;
    }

    span.nav-username-dropdown .glyphicon{
        font-size: 1.3rem;
    }


.navbar-btn {
    margin: 8px 0 8px 5px;
}

.dropdown-container {
    position: relative;
}

.dropdown-container ul {
    display: none;
    position: absolute;
    top: 90%;
    right: 3px;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #f0f0f0;
    border: 1px solid #dedede;
    border-radius: 5px;
}

    .dropdown-container ul:before {
        content: '';
        top: -10px;
        right: 8px;
        position: absolute;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 9px solid #dedede;
    }

    .dropdown-container ul:after {
        content: '';
        top: -7px;
        right: 9px;
        position: absolute;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-bottom: 7px solid #f0f0f0;
    }

        .dropdown-container ul li {
            border-bottom: 1px solid #ccc;
        }
            .dropdown-container ul li:last-child {
                border-bottom: none;
            }

            .dropdown-container ul li a {
                display: block;
                padding: 7px 10px 8px;
                color: #4b4b4b;            
                line-height: initial;
                text-align: left;
                font-size: 1.3rem;
}

.form-container {
    max-width: 300px;
    padding: 10px;
    border-radius: 5px;
    margin: 40px auto;
    background: rgba(108, 153, 192, 0.3);
}

.form-container-inner {
    padding: 10px;
    background: #fff;
}

.form-container-inner textarea.form-control {
    height: 80px;
}

input.btn.full-width {
    width: 100%;
}

.top-navbar {
    margin-top: 20px;
}

/* Colorblocking */

.colorblock {
    background-color: #fff;
    padding: 60px 0;
    background-position: center center;
    background-size: auto 100%;
}

.colorblock p {
    margin-bottom: 40px;
}

.navbar-brand {
    padding: 8px 0;
}

.big-title {
    color: #666;
    font-size: 60px;
    line-height: 60px;
    font-weight: 100;
    display: block;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.colorblock.banner {
    background-image: url('../img/bdde_banner.png');
}

.colorblock.features {
    background-image: url('../img/bdde_features.png');
    min-height: 430px;
    background-position: center bottom;
    background-repeat: no-repeat;
}

.colorblock.contacts {
    background-color: #ebeef2; 
}

.colorblock.map {
    padding: 0;
}

    .colorblock.map iframe {
        margin: 0;
        padding: 0;
        display: block;
    }

    .colorblock.banner .big-title, .colorblock.features .big-title, .colorblock.about .big-title {
        color: #fff;
    }

    .colorblock.banner .help-text {
        color: #94a6c3;
        font-size: 26px;
        line-height: 26px;
    }

        .colorblock.banner .help-text i {
            text-decoration: underline;
            color: #77a9b6;
        }

.colorblock.footer {
    background-color: #333;
    color: #fff;
}

    .colorblock.footer p {
        margin-bottom: 15px;
    }

        .colorblock.footer p.bigger {
            font-size: 38px;
            margin: 0 0 10px;
            line-height: 38px;
        }

        .colorblock.footer .lrg {
            font-size: 18px;
            line-height: 18px;
        
            margin-bottom: 30px;
            display: block;
}

    .colorblock.footer a{
        color: #77a9b6;
    }

    .colorblock.footer .dec {
        color: #94a6c3;
    
}

    .colorblock.footer .big {
        color: #94a6c3;
    }

.how-it-works .title {
    color: #3d4d77;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
    padding-left: 65px;
    position: relative;
}

    .how-it-works .title:before {
        font-size: 4.5rem;
        line-height: 4rem;
        position: absolute;
        left: 0;    
        font-family: fontawesome;
        top: 5px;
    }

    .how-it-works p {
        margin-bottom: 10px;
    }

.features .title {
    color: #fff;
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 500;
}

.features p {
    margin-bottom: 25px;
    color: #94a6c3;
}

.features.text-left > * {
    padding-left: 40px;
}

.features.text-right > * {
    padding-right: 20px;
}

.features .big-title {
    margin-top: -15px;
}

/* Examples */

.big-icon {
    height: 50px;
    width: 70px;
    margin: 30px auto 20px;
}

.example-block {
    width: 16.6666666%;
    height: 240px;
    float: left;
    text-align: center;
    color: #fff;
    z-index: 1;
    position: relative;
    -webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
    transform: scale(1,1);
    transition-timing-function: ease-out;
    transition-duration: 250ms;
}

    .example-block:hover {
        -webkit-transform: scale(1.05,1.07);
        -moz-transform: scale(1.05,1.07);
        transform: scale(1.05,1.07);
        z-index: 2;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3), -2px 2px 3px rgba(0, 0, 0, 0.3);
    }

    .example-block.benchmark {
        background-color: #202c45;
    }

        .example-block.benchmark .big-icon {
            background-image: url('../img/icon_benchmark.png');
        }

    .example-block.market-trending {
        background-color: #41495d;
    }

        .example-block.market-trending .big-icon {
            background-image: url('../img/icon_market_trending.png');
        }

    .example-block.market-share {
        background-color: #8592b2;
    }

        .example-block.market-share .big-icon {
            background-image: url('../img/icon_market_share.png');
        }

    .example-block.market-size {
        background-color: #98b0b3;
    }

        .example-block.market-size .big-icon {
            background-image: url('../img/icon_market_size.png');
        }

    .example-block.historical-series {
        background-color: #608a94;
    }

        .example-block.historical-series .big-icon {
            background-image: url('../img/icon_historical_series.png');
        }

    .example-block.adoption-rate {
        background-color: #33626e;
    }

        .example-block.adoption-rate .big-icon {
            background-image: url('../img/icon_adoption_rate.png');
        }

    .example-block .title {
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
    }

    .example-block p {
        padding: 0 10px;
        font-size: 12px;
        line-height: 22px;
    }

/* About */

.colorblock.about {
    background-image: url('../img/bdde_about.png');
}

    .colorblock.about p {
        color: #fff;
        text-align: left;
        margin-bottom: 0;
    }

.about-container {
    padding: 30px 60px;
    background-color: rgba(25, 30, 44, 0.76);
}

.big-title.decored {
    position: relative;
}

    .big-title.decored:before,.big-title.decored:after {
        content: '';
        position: absolute;
        height: 1px;
        background: #fff;
        width: 30%;
        top: 50%;
    }

    .big-title.decored:before {
        left: 0
    }

    .big-title.decored:after {
        right: 0;
    }

/* End - Colorblocking */


/* Forms */

.styled-form label {
    display: block;
    font-weight: 500;
    color: #364468;
    margin-bottom: 0px;
}
.styled-form input, .styled-form textarea, .styled-form select {
    width: 100%;
    padding: 6px;
    margin-bottom: 5px;
    border: 1px solid #C9C9C9;
    box-shadow: none !important;
    border-radius: 0;
}

.styled-form textarea {
    max-width: 100%;
    max-height: 105px;
    margin-bottom: 20px;
}

.styled-form input[type='submit'] {
    float: right;
    color: #fff;
    border: none;
    outline: none;
    background: #3F465A;
    text-transform: uppercase;
}

.styled-form input[type='submit']:hover {
    background: #4D566F;
}

.styled-form input[type='submit']:focus, .styled-form input[type='submit']:active {
    box-shadow: 0 2px #ccc;
}

.lined-right {
    box-shadow: -1px 0 #ccc;
}

.lined-left {
    box-shadow: 1px 0 #ccc;
}

    .lined-left .title-header {
        margin: 0 10px;
        padding: 5px 10px;
        font-size: 12px;
    }

    .lined-left .title-header .add_help {
        background: #fff;
        color: #333;
        margin: 0 1px;
    }

.contact-info {
    float: right;
    letter-spacing: 1px;
}
    .contact-info .title {
        line-height: 21px; font-weight: 500; color: #364468;
        margin-bottom: 15px;
    }
    .contact-info p {
        margin-bottom: 0;
    }

        .contact-info p a {
            font-weight: 300;
        }


.search-help-text {
    display: inline-block;
    float: left;
    line-height: 20px;
    margin: 22px 0;
    color: #ccc;
    text-transform: uppercase;
    font-size: 12px;
    color: #333;
}

form[role='search'] .form-control {
    height: 25px;
    margin-top: 12px;
    border-radius: 0;
    box-shadow: none;
    max-width: 150px;
}

form[role='search'] .btn-search {
    background: #3d4d77;    
    color: #fff;
    outline: none;
    border-radius: 0;
    text-transform: uppercase;
    height: 25px;
    line-height: 12px;
    margin-top: 12px;
    font-size: 12px;
    padding: 0 10px;
    font-weight: 400;
}

/* Creating Benchmarks */

/* Steps */

.creation_steps {
    margin: 0 -60px;
    height: 90px;
}
.creation_steps .cr_step {
    width: 33.33333%;
    float: left;
    padding: 10px 40px;
    box-sizing: border-box;
    background: #dfe6f5;
    box-shadow: -1px 0 #fff;
}

.creation_steps .cr_step > * {
    opacity: 0.5;
}

.creation_steps .cr_step.active {
    background: #fff;
    box-shadow: none;
}

.creation_steps .cr_step.active > * {
    opacity: 1;
}

.creation_steps .cr_step .step_image {
    width: 70px;
    height: 70px;
    display: inline-block;
    float: left;
}

.creation_steps .cr_step.one .step_image {
    background-image: url('../img/step1.png');    
}

.creation_steps .cr_step.one.done .step_image {
    background-image: url('../img/step1_done.png');    
}

.creation_steps .cr_step.two .step_image {
    background-image: url('../img/step2.png');    
}

.creation_steps .cr_step.two.done .step_image {
    background-image: url('../img/step2_done.png');    
}

.creation_steps .cr_step.three .step_image {
    background-image: url('../img/step3.png');    
}


.creation_steps .cr_step .step_title, .creation_steps .cr_step .step_descr {
    margin-left: 90px;
    text-transform: uppercase;
    color: #41495d;
}

.creation_steps .cr_step .step_title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 12px;
}

.creation_steps .cr_step .step_descr {
    font-size: 14px;
    line-height: 14px
;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* End Steps */



.title-header {
    background: #333;
    color: #fff;
    padding: 6px 60px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 -60px;
}


.benchmark-creation {
    padding: 0 60px;
}

.benchmark-help {
    margin: 0 -60px;
    padding: 25px 60px;   
    background: #41495d;
    color: #fff;
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
}

    .benchmark-help.search {
        margin: -45px -45px 0;
    
        padding-bottom: 0;
}

    .benchmark-help label {
        display: block;
}

.benchmark-creation .styled-form .benchmark-help.search label {
    display: block;
    margin-top: 10px;
    color: #fff;
    font-size: 12px;
}

.benchmark-creation .styled-form .benchmark-help.search select, .benchmark-creation .styled-form, .benchmark-help.search input[type='text'] {
    height: 32px;
    margin: -1px 0 0;
    padding: 0;
    
    background: #fff;
    color: #333;
}
    .benchmark-creation .styled-form .benchmark-help.search label.btn {
        padding: 0;
        margin-top: 31px;
        width: 50px;
        height: 32px;
        line-height: 32px;
        text-align: center;
        font-size: 14px;
    
    }
    
        .benchmark-creation .styled-form .benchmark-help.search label.btn.btn-primary {
            background-color: #5D828B;
        }
        
            .benchmark-creation .styled-form .benchmark-help.search label.btn.btn-primary:hover {
                background-color: #809094;
            }
    
        .benchmark-creation .styled-form .benchmark-help.search label.btn i.fa {
            padding: 0;
        }

.benchmark-creation .styled-form label {
    text-transform: uppercase;
    color: #333;
    font-size: 11px;
    display: inline-block;
    font-weight: 600;
}

.benchmark-creation .styled-form label.btn {
    font-size: 14px;
    color: #fff;
}

.benchmark-creation .styled-form input:not([type='submit']), .benchmark-creation .styled-form textarea, .benchmark-creation .styled-form select {
    background: #F8F7F7;   
    padding: 3px 6px;
    font-size: 12px;
    margin-bottom: 10px;
}

.benchmark-creation .margined .styled-form > .col-md-8 {
    padding-right: 30px;
    margin-bottom: 45px;
}


.benchmark-creation .margined .styled-form .col-md-8.normal-padding {
    padding-right: 15px;
    margin-bottom: 0;
}

.tips {
    padding-left: 15px;
}

        
    .tips .label-like {
        display: block;
        font-weight: 500;  
        margin-bottom: 0px;
        text-transform: uppercase; 
        color: #333; 
        font-size: 12px;
    }

    .tips p.title {
        display: block; 
        font-weight: 600; 
        margin-bottom: 5px; 
        text-transform: uppercase; 
        color: #41495d; 
        font-size: 12px;
        line-height: 18px;
    }

    .tips p {
        margin-bottom: 20px;
        font-size: 12px;
        line-height: 18px;
    }
    
    .tips .suggested-contact p {
        margin: 0 0 10px;
    }
    
    .tips a {
        color: #339999;
        font-size: 12px;
        text-decoration: none;
        display: inline-block;
        line-height: 36px;
    }
    
        .tips a:hover {
            text-decoration: underline;
        }

    .btn-holder {
        margin: 0 -45px;
        clear: both;
        padding: 30px 75px;
        background: #333;
        height: 95px;
    }

    span.add_info {
        float: right;
        color: #717171;
        font-size: 11px;
    }

    /* tooltips */

    .add_help {
        display: inline-block;
        background: #33626e;
        color: #fff;
        height: 12px;
        padding: 0 4px  0 3px;
        text-align: center;
        line-height: 12px;
        font-size: 11px;
        font-weight: bold;
        border-radius: 6px;
        cursor: pointer;
        position: relative;    
        margin: 0 5px;
    }

        .add_help_inner {
            display: none;
            position: absolute;
            background: #33626e;
            color: #b9d4db;
            font-size: 11px;
            line-height: 15px;
            font-weight: 400;
            bottom: 25px;
            width: 250px;
            text-align: left;
            padding: 10px 20px 15px;        
            margin-left: -125px;
            left: 50%;
            border-radius: 3px;
        
            text-transform: none;
}
        
            .add_help_inner:after {
                position: absolute;
                content: '';
                width: 0px; height: 0px; 
                border-left: 12px solid transparent; 
                border-right: 12px solid transparent; 
                border-top: 12px solid #33626e;
                bottom: -12px;
                left: 50%;
                margin-left: -12px;
            }

        .add_help:hover > .add_help_inner {
            display: block;
        }

        #units_maxDecimals {
            display: none;
        }
        
        .contact-results {
            height: 400px;
            overflow-x: hidden;
            border: 1px solid #dedede;
        
            margin: 0 10px;
}

        .single-contact {
            border-bottom: 1px solid #dedede;
            padding: 5px 10px 10px;
        }

            .single-contact.active {
                background-color: #eff0f2;
            }
            
            .single-contact p {
                margin: 0;
                font-size: 12px;
                line-height: 18px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            
            .single-contact p.grey {
                color: #999999;
            }

        .benchmark-creation .styled-form .single-contact input[type="checkbox"] {
            margin: 25px 0 22px;
            display: inline-block;
        }

        .benchmark-creation .styled-form .single-contact label, .benchmark-creation .styled-form .suggested-contact label {
            text-transform: none;
            font-size: 12px;
            color: #339999;
            line-height: 12px;
        }
        
        .benchmark-creation .styled-form .suggested-contact {
            border-bottom: 1px solid #dedede;            
        }

        .suggested-contacts {
            height: 400px;
            padding-right: 10px;
            overflow-x: hidden;
        }
        
        .benchmark-creation .styled-form .suggested-contact input[type="checkbox"] {
            margin: 12px 0;
        }

        .search .col-md-12.tabulation {
            padding: 0 10px;
        }

            .search .tabulation .nav-tabs {
                border-bottom: 1px solid #fff;
            }

                .search .tabulation .nav-tabs>li {
                    margin-right: 5px;
                    margin-bottom: 0;
                }

                    .search .tabulation .nav-tabs>li>a {
                        border-radius: 0;
                        font-size: 12px;
                        font-weight: bold;
                        line-height: 40px;
                        padding: 0 20px;
                        text-transform: uppercase;            
                        background: #dddfe1;
                        color: #333;
                    }

                        .search .tabulation .nav-tabs>li>a:hover {           
                            background: #ccc;                        
                            border-color: #ccc;
                        }
                    
                        .search .tabulation .nav-tabs>li.active>a {
                            background-color: #fff;
                        }

                            .search .tabulation .nav-tabs>li.active>a:hover {
                                background-color: #fff;
                                border-color: #fff;
                            }

        .search .row.contacts-search {
            margin-bottom: 25px;
        }

/* Bootstrap fixes according to design */

.btn {
    border-radius: 0;
    border: none;
    padding: 10px 18px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}
    
    .btn .fa {
        padding: 0 10px 0 0;
    }

    .btn.pull-right .fa {
        padding: 0 0 0 10px;
    }

    .btn.auto-width {
        width: auto;
    }

.btn-primary {
    background-color: #33626e;
}

    .btn-primary:hover {
        background-color: #5D828B;
    }

.btn-default {
    background-color: #5d5d5d;
}

    .btn-default:hover {
        background-color: #6d6d6d;
    }


.styled-form .btn-holder > input[type='submit'].btn-primary {
    background: #33626e;
}

.styled-form .btn-holder > input[type='submit'].btn {
    padding: 10px 18px;
}

.styled-form .btn-holder > input[type='submit'].continue-btn:after {
    font-family: fontawesome;
    content: "\f0a9";
}

.btn.sign-in-btn {
    background: #fff;
    position: relative;
    padding: 7px 15px 7px 45px;
    color: #4b4b4b;
    text-transform: none;
    border-radius: 5px;
    margin-top: 20px;
}

    .btn.sign-in-btn:before {
        content: 'in';
        position: absolute;
        left: 0;
        width: 35px;
        background: #426E97;
        line-height: 34px;
        top: 0;
        font-weight: bold;
        font-size: 1.8rem;
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
        color: #fff;
    }

    .btn.sign-in-btn:hover {
        background: #F0F0F0;
    }

        .btn.sign-in-btn:hover:before {
            background: #3C6081;
        }

.navbar>.container .navbar-brand {
    margin-left: 0;
}

/* 5 columns fix */

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
.col-sm-5ths {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }

    .container {
        width: 970px;
    }
}
