body {
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    padding: 0;
    background: #ccc;
    padding-top: 90px;
    font-family: Roboto;
    font-weight: 300;
}

html, body {
    height: 100%;
}

a {
    font-weight: 500;
    color: #3d4d77;
}

.btn-primary {
    background-color: #4C7FAC;
    border-color: #3A678F;
}

.navbar-default {
    background-color: #fff;
    border: none;
    border-radius: 0;
    height: 90px;
    margin-bottom: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.34);
}

.navbar-default .navbar-brand {
    color: #fff;
    font-weight: bold;
}


/* Main Nav */

ul.main-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

    ul.main-nav li {
        display: inline-block;    
        padding: 20px 10px 20px;
    }

    ul.main-nav li a {
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 400;
        text-decoration: none;
    }

    ul.main-nav li a:hover {
        color: #608a94;
    }

    ul.main-nav li a.active {
        box-shadow: 0 22px #fff, 0 30px #425380;
    }

/* End Main Nav */

.sign-in-btn {
    margin: 8px 0 8px 20px;
}

.search-field {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    display: block !important;
    float: left;
    border-color: #3A678F;
    border-right: none;
}

.search-btn {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    display: block;
    color: #fff;
    outline: none;
    background-color: #4C7FAC;
    border-color: #3A678F;
}

    .search-btn:hover, .search-btn:active, .search-btn:focus {
        background-color: #3276b1;
        border-color: #285e8e;
        color: #fff;
        outline: none;
    }

span.nav-username {
    line-height: 50px;
    font-size: 1.6rem;
    margin-left: 20px;
    padding: 0 0 0 10px;

}

span.nav-username-dropdown:hover > ul {
    display: block;
}

span.nav-username-dropdown {
    display: inline-block;
    margin: 0;
    line-height: 50px;
    font-size: 1.6rem;
    padding: 0 10px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}
    span.nav-username-dropdown:hover{
        color: #4F7DA5;
    }

    span.nav-username-dropdown .glyphicon{
        font-size: 1.3rem;
    }

.sign-in-btn {
    background: #E1E6E7;
    position: relative;
    padding-left: 45px;
    color: #4b4b4b;
}

    .sign-in-btn:before {
        content: 'in';
        position: absolute;
        left: -1px;
        width: 35px;
        background: #426E97;
        line-height: 34px;
        top: -1px;
        font-weight: bold;
        font-size: 1.8rem;
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
        color: #fff;
    }

    .sign-in-btn:hover {
        background: #F0F0F0;
    }

        .sign-in-btn:hover:before {
            background: #3C6081;
        }


.navbar-btn {
    margin: 8px 0 8px 5px;
}

.dropdown-container {
    position: relative;
}

.dropdown-container ul {
    display: none;
    position: absolute;
    top: 90%;
    right: 3px;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #f0f0f0;
    border: 1px solid #dedede;
    border-radius: 5px;
}

    .dropdown-container ul:before {
        content: '';
        top: -10px;
        right: 8px;
        position: absolute;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 9px solid #dedede;
    }

    .dropdown-container ul:after {
        content: '';
        top: -7px;
        right: 9px;
        position: absolute;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-bottom: 7px solid #f0f0f0;
    }

        .dropdown-container ul li {
            border-bottom: 1px solid #ccc;
        }
            .dropdown-container ul li:last-child {
                border-bottom: none;
            }

            .dropdown-container ul li a {
                display: block;
                padding: 7px 10px 8px;
                color: #4b4b4b;            
                line-height: initial;
                text-align: left;
                font-size: 1.3rem;
}

.form-container {
    max-width: 300px;
    padding: 10px;
    border-radius: 5px;
    margin: 40px auto;
    background: rgba(108, 153, 192, 0.3);
}

.form-container-inner {
    padding: 10px;
    background: #fff;
}

.form-container-inner textarea.form-control {
    height: 80px;
}

input.btn.full-width {
    width: 100%;
}

.top-navbar {
    margin-top: 20px;
}

/* Colorblocking */

.colorblock {
    background-color: #fff;
    padding: 60px 0;
    background-position: center center;
    background-size: auto 100%;
}

.colorblock p {
    margin-bottom: 40px;
}

.navbar-brand {
    padding: 8px 0;
}

.big-title {
    color: #666;
    font-size: 60px;
    line-height: 60px;
    font-weight: 100;
    display: block;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.colorblock.banner {
    background-image: url('../img/bdde_banner.png');
}

.colorblock.features {
    background-image: url('../img/bdde_features.png');
    min-height: 430px;
    background-position: center bottom;
    background-repeat: no-repeat;
}

.colorblock.contacts {
    background-color: #ebeef2; 
}

.colorblock.map {
    padding: 0;
}

    .colorblock.map iframe {
        margin: 0;
        padding: 0;
        display: block;
    }

    .colorblock.banner .big-title, .colorblock.features .big-title, .colorblock.about .big-title {
        color: #fff;
    }

    .colorblock.banner .help-text {
        color: #94a6c3;
        font-size: 26px;
        line-height: 26px;
    }

        .colorblock.banner .help-text i {
            text-decoration: underline;
            color: #77a9b6;
        }

.colorblock.footer {
    background-color: #333;
    color: #fff;
}

    .colorblock.footer p {
        margin-bottom: 15px;
    }

        .colorblock.footer p.bigger {
            font-size: 38px;
            margin: 0 0 10px;
            line-height: 38px;
        }

        .colorblock.footer .lrg {
            font-size: 18px;
            line-height: 18px;
        
            margin-bottom: 30px;
            display: block;
}

    .colorblock.footer a{
        color: #77a9b6;
    }

    .colorblock.footer .dec {
        color: #94a6c3;
    
}

    .colorblock.footer .big {
        color: #94a6c3;
    }

.how-it-works .title {
    color: #3d4d77;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
    padding-left: 65px;
    position: relative;
}

    .how-it-works .title:before {
        font-size: 4.5rem;
        line-height: 4rem;
        position: absolute;
        left: 0;    
        font-family: fontawesome;
        top: 5px;
    }

    .how-it-works p {
        margin-bottom: 10px;
    }

.features .title {
    color: #fff;
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 500;
}

.features p {
    margin-bottom: 25px;
    color: #94a6c3;
}

.features.text-left > * {
    padding-left: 40px;
}

.features.text-right > * {
    padding-right: 20px;
}

.features .big-title {
    margin-top: -15px;
}

/* Examples */

.big-icon {
    height: 50px;
    width: 70px;
    margin: 30px auto 20px;
}

.example-block {
    width: 16.6666666%;
    height: 240px;
    float: left;
    text-align: center;
    color: #fff;
    z-index: 1;
    position: relative;
    -webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
    transform: scale(1,1);
    transition-timing-function: ease-out;
    transition-duration: 250ms;
}

    .example-block:hover {
        -webkit-transform: scale(1.05,1.07);
        -moz-transform: scale(1.05,1.07);
        transform: scale(1.05,1.07);
        z-index: 2;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3), -2px 2px 3px rgba(0, 0, 0, 0.3);
    }

    .example-block.benchmark {
        background-color: #202c45;
    }

        .example-block.benchmark .big-icon {
            background-image: url('../img/icon_benchmark.png');
        }

    .example-block.market-trending {
        background-color: #41495d;
    }

        .example-block.market-trending .big-icon {
            background-image: url('../img/icon_market_trending.png');
        }

    .example-block.market-share {
        background-color: #8592b2;
    }

        .example-block.market-share .big-icon {
            background-image: url('../img/icon_market_share.png');
        }

    .example-block.market-size {
        background-color: #98b0b3;
    }

        .example-block.market-size .big-icon {
            background-image: url('../img/icon_market_size.png');
        }

    .example-block.historical-series {
        background-color: #608a94;
    }

        .example-block.historical-series .big-icon {
            background-image: url('../img/icon_historical_series.png');
        }

    .example-block.adoption-rate {
        background-color: #33626e;
    }

        .example-block.adoption-rate .big-icon {
            background-image: url('../img/icon_adoption_rate.png');
        }

    .example-block .title {
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
    }

    .example-block p {
        padding: 0 10px;
        font-size: 12px;
        line-height: 22px;
    }

/* About */

.colorblock.about {
    background-image: url('../img/bdde_about.png');
}

    .colorblock.about p {
        color: #fff;
        text-align: left;
        margin-bottom: 0;
    }

.about-container {
    padding: 30px 60px;
    background-color: rgba(25, 30, 44, 0.76);
}

.big-title.decored {
    position: relative;
}

    .big-title.decored:before,.big-title.decored:after {
        content: '';
        position: absolute;
        height: 1px;
        background: #fff;
        width: 30%;
        top: 50%;
    }

    .big-title.decored:before {
        left: 0
    }

    .big-title.decored:after {
        right: 0;
    }

/* End - Colorblocking */



/* Bootstrap fixes according to design */

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}