{% load bootstrap %}
{% load helpers %}
{% load cms_tags %}
<div class='benchmark-help search'>
    <div class='row'>
        <div class='col-md-12'>
            {% static_placeholder "bm_create_step2_text" or %}
                Use the search fields below to narrow your network to those most relevant to your benchmark. You will be
                able to preview &amp; edit your list before publishing.</div>
            {% endstatic_placeholder %}
    </div>
    <div class='row contacts-search'>
        <div class="col-md-5ths">
            <label for="id_1-geo">Geography</label>
            {{ form.geo }}
            {{ form.geo.errors }}
        </div>
        <div class="col-md-5ths">
            <label for="id_1-industry">Industry</label>
            {{ form.industry }}
            {{ form.industry.errors }}
        </div>
        <div class="col-md-5ths">
            <label for="id_1-role">Role</label>
            {{ form.role }}
            {{ form.role.errors }}
        </div>
        <div class="col-md-5ths">
            <label for="id_1-name">Name</label>
            {{ form.name }}
            {{ form.name.errors }}
        </div>
        <div class="col-md-5ths">
            <button id='save_and_wizard_goto_step' name="save_and_wizard_goto_step" type="submit"
                    class="btn btn-primary full-width hidden" value="1"><i class='fa fa-search'></i></button>
            <label id='src_btn' for='save_and_wizard_goto_step' class='btn btn-primary full-width'><i class='fa fa-search'></i></label>
            <label id='rec_btn' class='btn btn-default full-width' title='View Recommended'><i class='fa fa-users'></i></label>
        </div>
    </div>
</div>
<div class='row'>
    <div class='col-md-8 lined-left margined'>
        <div class='char-fillter'>
            <ul>
                <li>A</li>
                <li>B</li>
                <li>C</li>
                <li>D</li>
                <li>E</li>
                <li>F</li>
                <li>G</li>
                <li>H</li>
                <li>I</li>
                <li>J</li>
                <li>K</li>
                <li>L</li>
                <li>M</li>
                <li>N</li>
                <li>O</li>
                <li>P</li>
                <li>Q</li>
                <li>R</li>
                <li>S</li>
                <li>T</li>
                <li>U</li>
                <li>V</li>
                <li>W</li>
                <li>X</li>
                <li>Y</li>
                <li>Z</li>
                <li class="filter-all">All</li>
            </ul>
        </div>
        <span class="contact-errors">
            {{ form.non_field_errors }}
        </span>
        <div id='recommendedContactList'>
            <div class="title-header inner">
                <div class='row'>
                    <div class='col-md-6 col-xs-4'>Recommended Contacts</div>
                    <div class='col-md-4 col-xs-8 text-center'>Allow forwarding
                        <span class="add_help">?
                            <span class='add_help_inner'>
                                <span>
                                    {% static_placeholder "bm_create_share_tooltip" or %}
                                        Lorem ipsum dolor sit amet, consectetur eta
                                        adipiscing elit. Pellentasque eu tempor tortor.
                                        Aliquam Trisque eros arcu, sed bibendum enim
                                        faucibus in. In vulputate blendit lorem ut.
                                    {% endstatic_placeholder %}
                                </span>
                            </span>
                        </span>
                    </div>
                    <div class='col-md-2 col-xs-12'><a class="add-all"><i class="fa fa-plus"></i> Add All</a></div>
                </div>
            </div>
            <div class='contact-results'>
                {% for contact in form.suggested_contacts %}
                    <div class='single-contact' data-contact-id='{{ contact.id }}'>
                        <div class='row'>
                            <div class='col-md-6 col-xs-6'>
                                <label for='id_1-suggested-{{ contact.id }}-invite'>{{ contact }}</label>
                                <p title='{{ contact.headline }}'>{{ contact.headline }}</p>
                                <p class='grey'
                                   title='{{ contact.location.name }} &middot; {{ contact.company.industry }}'>{{ contact.location.name }} &middot; {{ contact.company.industry }}</p>
                            </div>
                            <div class='col-md-4 col-xs-4'>                                
                                {% bound_field form contact.secondary_element %}
                            </div>
                            <div class='col-md-2 col-xs-2'>
                                <span class='hidden'>{% bound_field form contact.invite_element %}</span>
                                <label class='btn btn-primary pull-right add-contact-btn' for='id_1-suggested-{{ contact.id }}-invite'>Add <i class="fa fa-arrow-circle-o-right"></i></label>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div id='searchContactList'>
            <div class="title-header inner">
                <div class='row'>
                    <div class='col-md-6 col-xs-4'>Contact</div>
                    <div class='col-md-4 col-xs-8 text-center'>Allow forwarding
                        <span class="add_help">?
                            <span class='add_help_inner'>
                                <span>
                                    {% static_placeholder "bm_create_share_tooltip" or %}
                                        Lorem ipsum dolor sit amet, consectetur eta
                                        adipiscing elit. Pellentasque eu tempor tortor.
                                        Aliquam Trisque eros arcu, sed bibendum enim
                                        faucibus in. In vulputate blendit lorem ut.
                                    {% endstatic_placeholder %}
                                </span>
                            </span>
                        </span>
                    </div>
                    <div class='col-md-2 col-xs-12'><a class="add-all"><i class="fa fa-plus"></i> Add All</a></div>                    
                </div>
            </div>
            <div class='contact-results'>
                {% for contact in form.contacts_filtered %}
                    <div class='single-contact' data-contact-id='{{ contact.id }}'>
                        <div class='row'>
                            <div class='col-md-6 col-xs-6'>
                                <label for='id_1-contact-{{ contact.id }}-invite'>{{ contact }}</label>

                                <p title='{{ contact.headline }}'>{{ contact.headline }}</p>

                                <p class='grey'
                                   title='{{ contact.location.name }} &middot; {{ contact.company.industry }}'>{{ contact.location.name }} &middot; {{ contact.company.industry }}</p>
                            </div>
                            <div class='col-md-4 col-xs-4'>
                                {% bound_field form contact.secondary_element %}
                            </div> 
                            <div class='col-md-2 col-xs-2'>
                                <span class='hidden'>{% bound_field form contact.invite_element %}</span>
                                <label class='btn btn-primary pull-right add-contact-btn' for='id_1-contact-{{ contact.id }}-invite'>Add <i class="fa fa-arrow-circle-o-right"></i></label>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <span class="contact-errors">
            {{ form.non_field_errors }}
        </span>
    </div>

    <div class='col-md-4 margined'>
        <div class='tips'>
            <p class='label-like'>Selected Contacts<a class="remove-all"><i class="fa fa-minus-circle"></i>Remove All</a></p>
            <hr>
            <div id='selectedContactList'>
                {% for contact in form.selected_contacts %}
                    <div class='single-contact' data-contact-id='{{ contact.id }}'>
                        <div class='row'>
                            <div class='col-md-10 col-xs-10'>
                                <div class='row'>
                                    <div class='col-md-12'>
                                        <label>{{ contact }}</label>
                                        <p title='{{ contact.headline }}'>{{ contact.headline }}</p>
                                    </div>
                                    <div class='col-md-12 col-xs-12 selected-check'>
                                        {% bound_field form contact.secondary_element %}
                                        <label class='nobold' for="id_1-selected-{{ contact.id }}-secondary">Allow Forwarding</label>
                                    </div>
                                </div>
                            </div>
                            <div class='col-md-2 col-xs-2 text-center'>
                                <span class='hidden'>{% bound_field form contact.invite_element %}</span>
                                <span class='deselect-btn'><i class='fa fa-times'></i></span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>