{% extends "base_empty.html" %}

{% block body %}
        {% block navigation %}
            <nav class="navbar navbar-default" role="navigation">
              <div class="container top-navbar">
                <div class='row'>
                  <div class='col-md-2'>
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="/"><img src='{{ STATIC_URL }}/img/bdde_logo.png'/></a>

                    </div>
                  </div>
                  <div class='col-md-7'>
                    <ul class='main-nav'>
                      <li id='home-link' class='active'><a href="#banner">Home</a></li>
                      <li id='how-link'><a href="#how-it-works">How it works</a></li>
                      <li id='features-link'><a href="#features">Features</a></li>
                      <li id='examples-link'><a href="#examples">Examples</a></li>
                      <li id='about-link'><a href="#about">About</a></li>
                      <li id='faq-link'><a href="">FaQ</a></li>
                      <li id='contacts-link'><a href="#contact">Contact</a></li>
                    </ul>
                  </div>
                  <div class='col-md-3'>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                      {% if not user.is_authenticated %}
                        <a href="{% url 'socialauth_begin' backend='linkedin' %}" class="btn sign-in-btn pull-right">Sign in with Linkedin</a>
                            <!-- <a href="{% url 'socialauth_begin' backend='linkedin' %}" class="btn btn-primary btn-sm">Sign up</a> -->
                      {% else %}
                          <a href="{% url 'bm_create' %}" class="btn btn-primary pull-right navbar-btn" title='Create Benchmark'><span class="glyphicon glyphicon-plus"></span></a>
                          <div class='dropdown-container pull-right'>
                              <span class="nav-username">{{ user.first_name }} {{ user.last_name }}</span>
                              <span class='nav-username-dropdown'>
                                  <span class='glyphicon glyphicon-cog'></span>
                                  <ul>
                                    <li><a href="{% url 'in_contacts_import' %}">Import contacts</a></li>
                                    <li><a href="/logout">Sign out</a></li>                   
                                  </ul>   
                              </span>
                          </div>

                      {% endif %}
                               
                    </div>
                  </div>
                </div>
              </div>

                
                
            </nav>
        {% endblock %}
        {% block content %}{% endblock %}
        {% block footer %}
            <div class="colorblock footer">
                    <div class='container'>
                      <div class='row'>
                          <div class="col-md-4">
                            <p class='bigger'>Bedade.</p>
                            <span class='dec lrg'>Better Decisions. Better Data.</span>
                          </div>
                          <div class="col-md-8">
                            <p class='dec'>Our goal is to get you better data, and in the process connect you to like minded experts.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sagittis pellentesque erat, in eleifend lorem ipsum metus lorem ipsum dolor tempus non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus enim tortor, vulputate et elit in, pellentesque elementum risus. Nam eros nunc, gravida id orci in, aliquet lacinia nisl. <br><br>
                            Copyright 2014 Bedade, Inc. All Rights Reserved. <a href="#">Privacy</a> <span class='dec'>|</span> <a href="#">Legal</a></p>
                          </div>
                      </div>
                      
                    </div>
                </div>
        {% endblock %}
{% endblock %}



