{% extends "base_empty.html" %}

{% block body %}
        {% block navigation %}{% endblock %}
        {% block content %}{% endblock %}
        {% block footer %}
            <div class="colorblock footer">
                    <div class='container'>
                      <div class='row'>
                          <div class="col-md-4">
                            <p class='bigger'>Bedade.</p>
                            <span class='dec lrg'>Better Decisions. Better Data.</span>
                          </div>
                          <div class="col-md-8">
                            <p class='dec'>Our goal is to get you better data, and in the process connect you to like minded experts.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sagittis pellentesque erat, in eleifend lorem ipsum metus lorem ipsum dolor tempus non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus enim tortor, vulputate et elit in, pellentesque elementum risus. Nam eros nunc, gravida id orci in, aliquet lacinia nisl. <br><br>
                            Copyright 2014 Bedade, Inc. All Rights Reserved. <a href="#">Privacy</a> <span class='dec'>|</span> <a href="#">Legal</a></p>
                          </div>
                      </div>
                      
                    </div>
                </div>
        {% endblock %}
{% endblock %}



