<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">

    {% block meta_tags %}
    {% endblock %}
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.mCustomScrollbar.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome.min.css"/>    
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,900italic,500italic,400italic,500,700,700italic,900,300italic,300,100italic,100' rel='stylesheet' type='text/css'>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/bedade-ui.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53c393074940bc43"></script>
    <script type="text/javascript">
    
    google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var roleChartData = google.visualization.arrayToDataTable([
          ['Name', 'How Many Users Chose This'],
          ['BMW',     65],
          ['Audi',    35]
        ]);
        // var geoChartData = google.visualization.arrayToDataTable(statisticGeoData);
        // var countryChartData = google.visualization.arrayToDataTable(statisticCountryData);
        // var industryChartData = google.visualization.arrayToDataTable(statisticIndustryData);

        var options = {
          legend: 'none',
          pieSliceText: 'label',
          tooltip: { text: 'percentage' },
          slices: {
            0: {color: '#202C45'},
            1: {color: '#41495D'},
            2: {color: '#8592B2'},
            3: {color: 'transparent' }
          }
        };

        var roleChart = new google.visualization.PieChart(document.getElementById('roleChart'));
        var geoChart = new google.visualization.PieChart(document.getElementById('geoChart'));
        var countryChart = new google.visualization.PieChart(document.getElementById('countryChart'));
        var industryChart = new google.visualization.PieChart(document.getElementById('industryChart'));
        roleChart.draw(roleChartData, options);
        // geoChart.draw(geoChartData, options);
        // countryChart.draw(countryChartData, options);
        // industryChart.draw(industryChartData, options);
      }
</script> 
    {% block js %}{% endblock %}
    <title>{% block title %}Bedade{% endblock %}</title>
</head>
<body>
    
{% block body %}{% endblock %}

<script src="{{ STATIC_URL }}js/jquery.mCustomScrollbar.concat.min.js"></script>

<script>
		$(window).load(function(){			
			$(".contact-results, #step3Selected, .statsTable, .modal-body-inner").mCustomScrollbar({
				theme:"minimal"
			});			
		});
</script>
</body>
</html>