    <div class='title' title='{{ benchmark.name }}'><a
            href='/benchmark/{{ benchmark.id }}'>{{ benchmark.name }}</a></div>
    {% if benchmark.question_type == 1 %}
        <div id='donutChart-{{ benchmark.id }}-{{ instance.id }}' class='bigChart donut'>
        <script type="text/javascript">
            var mainChartData_{{ benchmark.id }} = {{ benchmark.charts|safe }};
            drawPieChart(mainChartData_{{ benchmark.id }}.pie, 'donutChart-{{ benchmark.id }}-{{ instance.id }}');
        </script>
        </div>

    {% elif benchmark.question_type == 2 %}
        <div id='columnChart-{{ benchmark.id }}-{{ instance.id }}' class='bigChart'></div>
        <script type="text/javascript">
            var mainChartData_{{ benchmark.id }} = {{ benchmark.charts|safe }};
            drawColumnChart(mainChartData_{{ benchmark.id }}.column, 'columnChart-{{ benchmark.id }}-{{ instance.id }}');
        </script>


    {% elif benchmark.question_type == 3 %}
        <div id='bellcurveChart-{{ benchmark.id }}-{{ instance.id }}' class='bigChart'></div>
        <div class='benchmark-stats perc-based'>
            <div class='single-stat'>
                <span class='title'>Min</span>
                <span class='value' id='minVal-{{ benchmark.id }}'></span>
            </div>
            <div class='single-stat'>
                <span class='title'>Max</span>
                <span class='value' id='maxVal-{{ benchmark.id }}'></span>
            </div>
            <div class='single-stat'>
                <span class='title'>Avg</span>
                <span class='value' id='avgVal-{{ benchmark.id }}'></span>
            </div>
            <div class='single-stat'>
                <span class='title'>SD</span>
                <span class='value' id='sdVal-{{ benchmark.id }}'></span>
            </div>
        </div>

        <script type="text/javascript">
            var mainChartData_{{ benchmark.id }} = {{ benchmark.charts|safe }};

            $(function () {
                $("#minVal-{{ benchmark.id }}").text(mainChartData_{{ benchmark.id }}.bell_curve.min);
                $("#maxVal-{{ benchmark.id }}").text(mainChartData_{{ benchmark.id }}.bell_curve.max);
                $("#avgVal-{{ benchmark.id }}").text(mainChartData_{{ benchmark.id }}.bell_curve.avg);
                var sd = mainChartData_{{ benchmark.id }}.bell_curve.sd.toFixed(1);
                $("#sdVal-{{ benchmark.id }}").text(sd);
            });
            drawBellcurveChart(mainChartData_{{ benchmark.id }}.bell_curve, 'bellcurveChart-{{ benchmark.id }}-{{ instance.id }}');
        </script>


    {% elif benchmark.question_type == 5 %}
        <div id='lineChart-{{ benchmark.id }}-{{ instance.id }}' class='bigChart'></div>
        <script type="text/javascript">
            var mainChartData_{{ benchmark.id }} = {{ benchmark.charts|safe }};
            drawLineChart(mainChartData_{{ benchmark.id }}.line, 'lineChart-{{ benchmark.id }}-{{ instance.id }}');
        </script>
    {% endif %}

    <div class='benchmark-footer text-center'>
        <span class='color-blue'><i class='fa fa-user'></i> {{ benchmark.contributors }} Contributors</span>
        <span class='separator'></span>
        <span class='rated-value'>
            <div class='fill-value' style='width: {% widthratio benchmark.calc_average_rating 5 100 %}%'></div>
        </span>
        <span class='color-grey'>({{ benchmark.calc_average_rating }})</span>
    </div>
