    <div class='title' title='{{ benchmark.label }}'><a
            href='/benchmark/{{ benchmark.id }}'>{{ benchmark.label }}</a></div>
    {% if benchmark.question_type == 1 %}
        <div id='donutChartHolder-{{ benchmark.id }}'>
            <div id='donutChart' class='bigChart donut'></div>
        </div>
        <script type="text/javascript">
            var mainChartData_{{ benchmark.id }} = {{ benchmark.charts|safe }};
            var None = null;
            drawPieChart(mainChartData_{{ benchmark.id }}.pie, 'donutChartHolder-{{ benchmark.id }}');
        </script>

    {% elif benchmark.question_type == 2 %}
        <div class='relative'>
            <div id='barChartHolder-{{ benchmark.id }}-{{ instance.id }}'>
                <div id='barChart-{{ benchmark.id }}-{{ instance.id }}' class='bigChart'></div>
            </div>
            <div class='avg-title'>Avg. Rank</div>
            <div class='avgBar' id='avgBar-{{ benchmark.id }}-{{ instance.id }}'></div>
        </div>       

        <script type="text/javascript">
            var mainChartData_{{ benchmark.id }} = {{ benchmark.charts|safe }};

            drawBarChart(mainChartData_{{ benchmark.id }}.bar, 'barChartHolder-{{ benchmark.id }}-{{ instance.id }}');

            if( screen.width > 641 ) {
                drawCircles(mainChartData_{{ benchmark.id }}.avg, 'avgBar-{{ benchmark.id }}-{{ instance.id }}'); 
            };
        </script>


    {% elif benchmark.question_type == 3 %}
        <div id='areaChartHolder-{{ benchmark.id }}-{{ instance.id }}'>
            <div id='areaChart' class='bigChart'></div>
        </div>      
        <div id='areaStats'>
            <div class='units'>Chart Data In: <span title='{{ benchmark.question.first.options.first.units }}'>"{{ benchmark.question.first.options.first.units }}"</span></div>
        </div>
        <script type="text/javascript">
            var mainChartData_{{ benchmark.id }} = {{ benchmark.charts|safe }};
            var None = null;
            drawAreaChart(mainChartData_{{ benchmark.id }}.area, 'areaChartHolder-{{ benchmark.id }}-{{ instance.id }}');
        </script>

    {% elif benchmark.question_type == 4 %}
        <div id='donutChartHolder-{{ benchmark.id }}'>
            <div id='donutChart' class='bigChart donut'></div>
        </div>
        <script type="text/javascript">
            var mainChartData_{{ benchmark.id }} = {{ benchmark.charts|safe }};
            var None = null;
            drawPieChart(mainChartData_{{ benchmark.id }}.pie, 'donutChartHolder-{{ benchmark.id }}');
        </script>
        


    {% elif benchmark.question_type == 5 %}
        <div id='areaChartHolder-{{ benchmark.id }}-{{ instance.id }}'>
            <div id='areaChart' class='bigChart'></div>
        </div>      
        <div id='areaStats'>
            <div class='units'>Chart Data In: <span title='{{ benchmark.question.first.options.first.units }}'>"{{ benchmark.question.first.options.first.units }}"</span></div>
        </div>
        <script type="text/javascript">
            var mainChartData_{{ benchmark.id }} = {{ benchmark.charts|safe }};
            var None = null;
            drawAreaChart(mainChartData_{{ benchmark.id }}.area, 'areaChartHolder-{{ benchmark.id }}-{{ instance.id }}');
        </script>
    {% endif %}

    <div class='benchmark-footer text-center'>
        <span class='color-blue'><i class='fa fa-user'></i> {{ benchmark.contributors }} Contributors</span>
        <span class='separator'></span>
        <span class='rated-value'>
            <div class='fill-value' style='width: {% widthratio benchmark.calc_average_rating 5 100 %}%'></div>
        </span>
        <span class='color-grey'>({{ benchmark.calc_average_rating }})</span>
    </div>
