{% for benchmark in history|slice:":{{ max_items }}" %}
    <div class='recent-benchmark-link'>
        <a href='{% url 'bm_details' benchmark.id %}' title='{{ benchmark.name }}'>{{ benchmark.name }}</a>
    </div>

{% empty %}
    <div><strong>You have no benchmarks in your history.</strong></div>
    <div><a href='{% url 'bm_create' %}'>Gather the data you need <i class="fa fa-arrow-circle-right"></i></a></div>
{% endfor %}
<hr>
<a class='pull-right' href='{% url 'bm_history' %}'><i class='fa fa-list'></i> View All</a>