{#          TODO: should move js to widget media #}
<script src="{{ STATIC_URL }}js/graphs/pie.js"></script>
<script src="{{ STATIC_URL }}js/graphs/column.js"></script>
<script src="{{ STATIC_URL }}js/graphs/bellcurve.js"></script>
<script src="{{ STATIC_URL }}js/graphs/line.js"></script>
<div class='benchmark'>

    <div id="popularComunityBenchmarks" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            {% for benchmark in benchmarks.popular|slice:":5" %}
                <div class="item active">
                    {% include "cms/dashboard/popular_bm_item.html" %}
                </div>
            {% empty %}

                <div class='col-md-12 margin-bot'>
                    <div class="recent-empty">
                        <p>There are currently no popular benchmarks in your industry.</p>
                    </div>
                </div>

                <script type="text/javascript">
                    $(function () {
                        $('#popularComunityBenchmarks .recent-benchmark-controls').hide();
                    });
                </script>
            {% endfor %}
        </div>
        <!-- Controls -->
        <div class='recent-benchmark-controls'>
            <a class="left carousel-control" href="#popularComunityBenchmarks" role="button" data-slide="prev">
                <i class='fa fa-caret-left'></i>
            </a>
            <a class="right carousel-control" href="#popularComunityBenchmarks" role="button" data-slide="next">
                <i class='fa fa-caret-right'></i>
            </a>
        </div>
    </div>
</div>