<div class='benchmark'>
    <div id="myRecentBenchmarks_{{ instance.id }}" class="carousel slide" data-ride="carousel">
{#          TODO: should move js to widget media #}
        <script src="{{ STATIC_URL }}js/graphs/pie.js"></script>
        <script src="{{ STATIC_URL }}js/graphs/column.js"></script>
        <script src="{{ STATIC_URL }}js/graphs/bellcurve.js"></script>
        <script src="{{ STATIC_URL }}js/graphs/line.js"></script>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            {% for benchmark in benchmarks.recent|slice:":5" %}
                <div class="item active">
                    {% include "cms/dashboard/bm_item.html" %}
                </div>

            {% empty %}
                <div class='col-md-12 margin-bot'>
                    <div class='recent-empty'>
                        <strong>You have not yet created any benchmarks.</strong>
                        <p>
                            Start benefiting from the questions YOU ask. In just three easy steps you can create your own benchmark queries and send them to your most trusted professional contacts.
                        </p>
                        <img src='{{ STATIC_URL }}img/guide.png'/>
                    </div>
                    <p style='margin: 0; text-align: center;'><a href="{% url 'bm_create' %}" class='btn btn-primary'>Create new benchmark <i class='fa fa-plus-circle'></i></a></p>
                    <script type="text/javascript">
                        $(function () {
                            $('#myRecentBenchmarks_{{ instance.id }} .recent-benchmark-controls').hide();
                        });
                    </script>
                </div>
            {% endfor %}
        </div>

        <!-- Controls -->
        <div class='recent-benchmark-controls'>
            <a class="left carousel-control" href="#myRecentBenchmarks_{{ instance.id }}" role="button" data-slide="prev">
                <i class='fa fa-caret-left'></i>
            </a>
            <a class="right carousel-control" href="#myRecentBenchmarks_{{ instance.id }}" role="button" data-slide="next">
                <i class='fa fa-caret-right'></i>
            </a>
        </div>
    </div>
</div>