{#          TODO: should move js to widget media #}
<script src="{{ STATIC_URL }}js/graphs/pie.js"></script>
<script src="{{ STATIC_URL }}js/graphs/column.js"></script>
<script src="{{ STATIC_URL }}js/graphs/bellcurve.js"></script>
<script src="{{ STATIC_URL }}js/graphs/line.js"></script>
<div class='benchmark'>

    <div id="popularComunityBenchmarks" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            {% for benchmark in benchmarks.popular|slice:":5" %}
                <div class="item active">
                    <div class='title' title='{{ benchmark.name }}'><a
                            href='/benchmark/{{ benchmark.id }}'>{{ benchmark.name }}</a></div>
                    {% if benchmark.question_type == 1 %}
                        <div id='donutChart_popular-{{ benchmark.id }}' class='bigChart donut'></div>
                        <script type="text/javascript">
                            var mainChartData_popular_{{ benchmark.id }} = {{ benchmark.charts|safe }};
                            drawPieChart(mainChartData_popular_{{ benchmark.id }}.pie, 'donutChart_popular-{{ benchmark.id }}');
                        </script>

                    {% elif benchmark.question_type == 2 %}
                        <div id='columnChart_popular-{{ benchmark.id }}' class='bigChart'></div>
                        <script type="text/javascript">
                            var mainChartData_popular_{{ benchmark.id }} = {{ benchmark.charts|safe }};
                            drawColumnChart(mainChartData_popular_{{ benchmark.id }}.column, 'columnChart_popular-{{ benchmark.id }}');
                        </script>


                    {% elif benchmark.question_type == 3 %}
                        <div id='bellcurveChart_popular-{{ benchmark.id }}' class='bigChart'></div>
                        <div class='benchmark-stats perc-based'>
                            <div class='single-stat'>
                                <span class='title'>Min</span>
                                <span class='value' id='minVal_popular-{{ benchmark.id }}'></span>
                            </div>
                            <div class='single-stat'>
                                <span class='title'>Max</span>
                                <span class='value' id='maxVal_popular-{{ benchmark.id }}'></span>
                            </div>
                            <div class='single-stat'>
                                <span class='title'>Avg</span>
                                <span class='value' id='avgVal_popular-{{ benchmark.id }}'></span>
                            </div>
                            <div class='single-stat'>
                                <span class='title'>SD</span>
                                <span class='value' id='sdVal_popular-{{ benchmark.id }}'></span>
                            </div>
                        </div>

                        <script type="text/javascript">
                            var mainChartData_popular_{{ benchmark.id }} = {{ benchmark.charts|safe }};

                            $(function () {
                                $("#minVal_popular-{{ benchmark.id }}").text(mainChartData_popular_{{ benchmark.id }}.bell_curve.min);
                                $("#maxVal_popular-{{ benchmark.id }}").text(mainChartData_popular_{{ benchmark.id }}.bell_curve.max);
                                $("#avgVal_popular-{{ benchmark.id }}").text(mainChartData_popular_{{ benchmark.id }}.bell_curve.avg);
                                var sd = mainChartData_popular_{{ benchmark.id }}.bell_curve.sd.toFixed(1);
                                $("#sdVal_popular-{{ benchmark.id }}").text(sd);
                            });
                            drawBellcurveChart(mainChartData_popular_{{ benchmark.id }}.bell_curve, 'bellcurveChart_popular-{{ benchmark.id }}');
                        </script>

                    {% elif benchmark.question_type == 5 %}
                        <div id='lineChart_popular-{{ benchmark.id }}' class='bigChart'></div>
                        <script type="text/javascript">
                            var mainChartData_popular_{{ benchmark.id }} = {{ benchmark.charts|safe }};
                            drawLineChart(mainChartData_popular_{{ benchmark.id }}.line, 'lineChart_popular-{{ benchmark.id }}');
                        </script>
                    {% endif %}

                    <div class='benchmark-footer text-center'>
                        <span class='color-blue'><i
                                class='fa fa-user'></i> {{ benchmark.contributors }} Contributors</span>
                        <span class='separator'></span>
                                    <span class='rated-value'>
                                        <div class='fill-value'
                                             style='width: {% widthratio benchmark.calc_average_rating 5 100 %}%'></div>
                                    </span>
                        <span class='color-grey'>({{ benchmark.calc_average_rating }})</span>
                    </div>
                </div>
            {% empty %}

                <div class='col-md-12 margin-bot'>
                    <div class="recent-empty">
                        <p>There are currently no popular benchmark in Your industry.</p>
                    </div>
                </div>

                <script type="text/javascript">
                    $(function () {
                        $('#popularComunityBenchmarks .recent-benchmark-controls').hide();
                    });
                </script>
            {% endfor %}
        </div>
        <!-- Controls -->
        <div class='recent-benchmark-controls'>
            <a class="left carousel-control" href="#popularComunityBenchmarks" role="button" data-slide="prev">
                <i class='fa fa-caret-left'></i>
            </a>
            <a class="right carousel-control" href="#popularComunityBenchmarks" role="button" data-slide="next">
                <i class='fa fa-caret-right'></i>
            </a>
        </div>
    </div>
</div>